// COMMON :: START

// alert
.alert {
	border: none;

	&__box {
		position: relative;
		min-height: 40px;
		padding: 10px 50px;
		margin-bottom: 20px;
		border-radius: 6px;
		box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.1);
		background-color: #ffffff;
		@include adaptive(767) {
			padding-left: 15px;
			padding-right: 45px;
		}

		&.is-valid {
			p,
			a {
				color: #22C993;
			}
		}
		&.is-invalid {
			p,
			a {
				color: #f05858;
			}
		}

		p,
		a {
			text-align: center;
			font-weight: 500;
			font-size: 12px;
			letter-spacing: 0.38px;
			@include adaptive(767) {
				text-align: left;
			}
		}

		a {
			text-decoration: underline;
		}

		.alert__close {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			font-size: 14px;
			@include adaptive(767) {
				right: 15px;
			}
		}
	}
}
// alert :: end

// copyright
.copyright {
	font-size: 13px;
	letter-spacing: 0.4px;
}

.dropdown {
	&--more {
		.dropdown {
			&-toggle {
				height: 30px;

				.icon-font {
					color: #AEAEAE;
					font-size: 5px;
				}

				&:after {
					display: none;
				}
			}

			&-item {
				> div {
					&:nth-of-type(1) {
						width: 30px;
					}
				}
			}
		}
	}

	&-toggle {
		height: 40px;
		border-radius: 6px;
		font-size: 14px;
		letter-spacing: 0.44px;
		@include transition(color);


		&:focus,
		&.focus {
			outline: none;
			box-shadow: none;
		}

		&.is-active {
			color: #fff;
			@include transition(color);
		}

		.icon-font {
			margin-left: 5px;
			font-size: 8px;
		}
	}

	&-menu {
		left: auto !important;
		right: 0 !important;
		margin: 0;
		margin-top: 5px;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: transparent;

		&-corner {
			z-index: 0;
			top: -5px;
			right: 12px;
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			background-color: #ffffff;
			box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
		}

		&-wrapper {
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 2px;
			background-color: #ffffff;
			box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
		}
	}

	&-item {
		min-height: 20px;
		padding: 0 15px;
		margin-top: 5px;
		margin-bottom: 5px;

		&:hover {
			background-color: transparent;

			.icon-font,
			span {
				color: #6772e5;
				@include transition(color);
			}
		}

		> div {
			display: flex;

			&:nth-of-type(1) {
				//width: 30px;
			}
			&:nth-of-type(2) {
				display: flex;
				align-items: center;
				min-height: 22px;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}
		}

		span {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			@include transition(color);
		}

		.icon-font {
			font-size: 18px;
			@include transition(color);
		}
	}
}

// copyright :: end

// FORM
.input-group {
	overflow: hidden;
	border-radius: 6px;
	background-color: #ffffff;

	&--reverse {
		&.input-group {
			button.btn {
				border-left: transparent !important;
				border-right: solid 1px rgba(185, 185, 185, 0.3);
			}

			.form-control {
				border-left: solid 1px rgba(185, 185, 185, 0.3);
				border-right: transparent !important;
			}
		}
	}

	button.btn {
		border-radius: 6px;
		border: solid 1px rgba(185, 185, 185, 0.3);
		border-right: transparent;
		
		&:hover {
			background-color: transparent;
		}

		&:focus,
		&:active {
			box-shadow: none !important;
			background-color: transparent !important;
			border-color: rgba(185, 185, 185, 0.3) !important;
		}

		.icon-font {
			font-size: 17px;
			color: #333333;
		}
	}

	.form-control {
		height: 40px;
		border-radius: 6px;
		border: solid 1px rgba(185, 185, 185, 0.3);
		border-left: transparent;
		background-color: #ffffff;
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0.09px;
		@include inputPlaceholder {
			opacity: 0.35;
			font-size: 14px;
			font-style: italic;
			letter-spacing: 0.09px;
			color: #333333;
		}

		&:focus {
			box-shadow: none;
			border-color: rgba(185, 185, 185, 0.3);
		}
	}
}
.form-group {
	> label {
		padding-bottom: 5px;
		font-weight: 600;
		font-size: 14px;
		color: #333333;
	}

	> input[type='text'] {
		outline: none;
		height: 40px;
		padding: 0 15px;
		box-shadow: none;
		border-radius: 6px;
		border: solid 1px rgba(185, 185, 185, 0.3);
		background-color: #ffffff;

		&:focus {
			box-shadow: none;
			border-color: rgba(185, 185, 185, 0.3);
		}
	}

	textarea {
		outline: none;
		padding: 0 15px;
		box-shadow: none;
		border: solid 1px rgba(185, 185, 185, 0.3);
		background-color: #ffffff;

		&:focus {
			box-shadow: none;
			border-color: rgba(185, 185, 185, 0.3);
		}
	}

	select {
		outline: none;
		height: 40px;
		padding: 0 15px;
		box-shadow: none;
		border-radius: 6px;
		border: solid 1px rgba(185, 185, 185, 0.3);
		background-color: #ffffff;

		&:focus {
			box-shadow: none;
			border-color: rgba(185, 185, 185, 0.3);
		}
	}
}
// FORM :: end

// TOOLTIP
.tooltip {
	&.show {
		opacity: 1;
	}

	.arrow {
		&:before {
			border-top-color: #fff;
		}
	}

	&-inner {
		opacity: 1;
		padding: 15px;
		background-color: rgba(#fff, 0.95);
		box-shadow: 0 10px 50px 0 rgba(0,0,0,0.20);
		color: #333;
		font-weight: 500;
		font-size: 10px;
		text-align: left;
	}
}
// TOOLTIP :: end

// animation
.animate {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideIn {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	100% {
		transform:translateY(36px);
		opacity: 1;
	}
}
.fadeIn {
	animation-duration: 0.5s;
	animation-name: fadeIn;
}
.slideIn {
	animation-duration: 0.3s;
	animation-name: slideIn;
}
// animation :: end

// COMMON :: END
