// COMMON :: START

// copyright
.copyright {
	font-size: 13px;
	letter-spacing: 0.4px;
}
// copyright :: end

// animation
.animate {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes slideIn {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	100% {
		transform:translateY(36px);
		opacity: 1;
	}
}
.fadeIn {
	animation-duration: 0.5s;
	animation-name: fadeIn;
}
.slideIn {
	animation-duration: 0.3s;
	animation-name: slideIn;
}
// animation :: end

// COMMON :: END
