.swiper-container {
  width: 100%;

	&-main {
		width: 100%;
		max-width: 610px;
		margin-left: 0;
		padding-bottom: 50px;
		@include adaptive(1199) {
			max-width: 541px;
		}
		@include adaptive(1023) {
			max-width: 50%;
		}
	}

	&-features {
		padding-top: 50px;
		padding-bottom: 30px;

		.swiper {
			&-slide {
				cursor: pointer;
				overflow: hidden;
				height: 94px;
				border-radius: 6px;
				box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.1);
				background-color: #ffffff;
				@include transition(height, transform, background-color);

				&:hover {
					background-color: transparent;
					@include transition(background-color);

					&:before {
						opacity: 0.75;
						@include transition(opacity);
					}

					p,
					.icon-font {
						color: #ffffff;
						@include transition(color);
					}
				}

				&:before {
					opacity: 0;
					content: '';
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(114deg, #ff5980, #ffa882);
					@include transition(opacity);
				}

				&-active {
					transform: translateY(-20px);
					height: 114px;
					background-color: transparent;
					@include transition(height, transform, background-color);

					&:before {
						opacity: 1;
						@include transition(opacity);
					}

					p,
					.icon-font {
						color: #ffffff;
					}
				}
			}
		}
	}

	&-pricing {
		overflow: unset;
		padding-top: 45px;
		padding-bottom: 50px;
		@include adaptive(1023) {
			overflow: hidden;
		}

		.swiper {
			&-wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include adaptive(1023) {

				}
			}

			&-slide {
				width: 100%;
				max-width: calc((100% - (14px * 3)) / 4);
				min-height: 560px;
				border-radius: 6px;
				padding: 25px 20px;
				background-color: #ffffff;
				box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.07);
				@include adaptive(1023) {
					width: 275px !important;
					max-width: 275px !important;
				}
			}

			&-pagination {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&-partners {
		.swiper {
			&-wrapper {
				align-items: center;
			}

			&-slide {
				@include respondCustom('min-width:768px') {
					width: auto !important;
				}
			}
		}
	}

	.swiper {
		&-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 0;

			&-bullet {
				opacity: 1;
				width: 12px;
				height: 12px;
				background-color: rgba(#222A42, 0.15);
				margin-left: 3px;
				margin-right: 3px;
				@include transition(width, border-radius, background-color);

				&-active {
					width: 30px;
					border-radius: 7px;
					background-color: #6772e5;
					@include transition(width, border-radius, background-color);
				}
			}
		}
	}
}
