.swiper-container {
  width: 100%;

	&-partners {
		.swiper {
			&-wrapper {
				align-items: center;
			}

			&-slide {
				@include respondCustom('min-width:768px') {
					width: auto !important;
				}
			}
		}
	}
}
