// SECTION add new strategy :: START

.newStrategy {
	padding-top: 120px;
	@include adaptive(767) {
		padding-bottom: 200px;
	}

	.main__bg {
		z-index: -1;

		&-1 {
			@include adaptive(767) {
				position: absolute !important;
				top: 270px;
			}
		}
	}

	&__section {
		border-radius: 6px;
		background-color: #ffffff;
		box-shadow: 0 1px 20px 0 rgba(17,30,79,0.10);

		&-title {
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0.47px;
		}
	}

	&__title {
		padding-bottom: 20px;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 0.66px;
		text-align: center;
		@include adaptive(767) {
			font-size: 25px;
		}
	}

	&__subtitle {
		padding-bottom: 12px;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 0.59px;
		color: #6772e5;
		@include adaptive(767) {
			font-size: 25px;
		}
	}

	&__btn {
		max-width: 177px;
		margin-left: auto;
		margin-right: auto;

		&-wrapper {
			padding-top: 20px;
		}
	}

	// info
	&__info {
		margin-bottom: 50px;

		.newStrategy__section-title {
			padding-bottom: 20px;
		}

		&-form {
			display: flex;
			flex-wrap: wrap;

			&-field {
				&-0 {
					width: 470px;
					padding-right: 30px;
					@include adaptive(991) {
						width: 100%;
						padding-right: 0;
					}
				}

				&-1 {
					width: calc(100% - 470px);
					@include adaptive(991) {
						width: 100%;
					}
				}

				&-2 {
					width: 100%;
				}

				textarea {
					resize: none;
					min-height: 120px;
				}
			}
		}
	}
	// info :: end

	// advanced
	&__advanced {
		margin-bottom: 30px;

		&-title {
			padding-bottom: 5px;
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 0.27px;
		}

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		&-block {
			width: 100%;
			max-width: 50%;
			@include adaptive(1199) {
				max-width: 100%;
			}

			&:nth-of-type(odd) {
				padding-right: 15px;
				@include adaptive(1199) {
					padding-right: 0;
				}
			}
			&:nth-of-type(even) {
				padding-left: 15px;
				@include adaptive(1199) {
					padding-left: 0;
				}
			}

			label {
				font-size: 12px;
				font-weight: normal;
				@include adaptive(1199) {
					display: flex;
					align-items: flex-end;
					height: 40px;
				}
			}
		}

		&-row {
			display: flex;
			width: 100%;

			&--half {
				.newStrategy__advanced-col {
					width: 50%;

					&-1 {
						padding-right: 5px;
					}
					&-2 {
						padding-left: 5px;
					}
				}
			}

			&--two {
				.newStrategy__advanced-col {
					&-1 {
						width: 30%;
						padding-right: 5px;
					}
					&-2 {
						width: 70%;
						padding-left: 5px;
					}
				}
			}

			&--three {
				.newStrategy__advanced-col {
					width: calc(100% / 3);

					&-1 {
						padding-right: 5px;
					}
					&-2 {
						padding-left: 5px;
						padding-right: 5px;
					}
					&-3 {
						padding-left: 5px;
					}
				}
			}
		}

		&-col {
			width: 100%;
		}
	}
	// advanced :: end

	// marketplace
	&__marketplace {
		&-wrapper {
			display: flex;
			@include adaptive(1199) {
				flex-wrap: wrap;
			}
		}

		&-left {
			width: 50%;
			padding-right: 15px;
			@include adaptive(1199) {
				width: 100%;
				padding-right: 0;
			}
		}

		&-right {
			width: 50%;
			padding-left: 15px;
			@include adaptive(1199) {
				width: 100%;
				padding-left: 0;
			}
		}
	}
	// marketplace :: end

	// set
	&__set {
		margin-bottom: 10px;

		&-collapse {
			&.is-active {
				.newStrategy__set-body {
					display: block;
				}
				.newStrategy__set-head-corner {
					transform: rotate(-180deg);
				}
			}
			&.is-open {
				.newStrategy__set-head-corner {
					transform: rotate(-180deg);
					@include transition(transform);
				}
			}

			.newStrategy__set-body {
				display: none;
			}
			.newStrategy__set-head-corner {
				@include transition(transform);
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&-wrapper {
			padding-bottom: 40px;
		}

		&-header {
			padding-bottom: 12px;

			&--many {
				position: relative;
				@include adaptive(1023) {
					flex-wrap: wrap;
				}
			}

			&-title {
				font-size: 25px;
				font-weight: bold;
				letter-spacing: 0.66px;
				@include adaptive(1023) {
					width: 100%;
					padding-bottom: 12px;
				}
			}

			&-link {
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0.66px;
				color: #6772e5;
			}

			&-close {
				color: #000000;
				font-size: 20px
			}

			&-left {
				@include adaptive(1023) {
					flex-wrap: wrap;
				}
				@include adaptive(767) {
					&-cover {
						width: 100%;

						&:nth-of-type(1) {
							width: 100%;
						}

						&:nth-of-type(2) {
							display: flex;
							align-items: center;
						}

						.form-group {
							width: 100%;
							max-width: 185px;
						}
					}
				}
			}

			&-right {
				@include adaptive(1023) {
					position: absolute;
					top: 5px;
					right: 0;
				}
			}
		}

		&-head {
			min-height: 40px;
			@include adaptive(767) {
				position: relative;
				flex-wrap: wrap;
			}

			&-left {
				@include adaptive(767) {
					width: 100%;
					flex-wrap: wrap;
				}
			}

			&-right {
				@include adaptive(767) {
					position: absolute;
					top: 10px;
					right: 0;
				}
			}

			.form-group {
				width: 185px;
				@include adaptive(424) {
					width: 160px;
				}
				@include adaptive(374) {
					width: 120px;
				}
			}

			&-title {
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 0.47px;
				@include adaptive(767) {
					width: 100%;
					padding-bottom: 15px;
				}
			}

			&-add {
				min-width: 69px;
				max-width: 69px;
				letter-spacing: 0.33px;
				color: #6772e5;
			}

			&-corner {
				@include transition(transform);
			}
		}

		&-body {

			&-footer {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 449px;

				a {
					max-width: 140px;
					margin-left: 5px;
					margin-right: 5px;
					@include adaptive(767) {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		&-desc {
			overflow-y: auto;
			height: 133px;
		}

		&-frame {
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			&-left,
			&-right {
				min-height: 100%;
				@include adaptive(767) {
					min-height: unset;
				}
			}

			&-left {
				width: 450px;
				border-right: 1px solid #eaeaea;
				@include adaptive(1279) {
					width: 330px;
				}
				@include adaptive(1023) {
					width: 290px;
				}
				@include adaptive(767) {
					width: 100%;
					padding-bottom: 30px;
					border-right: 0;
				}
			}

			&-right {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&-title {
				border-bottom: 1px solid #eaeaea;
				@include adaptive(767) {
					padding-left: 0 !important;
				}

				p {
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 0.27px;
					text-transform: uppercase;
				}

				a {
					font-size: 14px;
					letter-spacing: 0.27px;
					color: #6772e5;
				}
			}

			&-body {
				@include adaptive(767) {
					padding-right: 0 !important;
					padding-left: 0 !important;
				}
			}

			&-text {
				font-size: 14px;
				letter-spacing: 0.27px;
			}

			table {
				.nowrap {
					white-space: nowrap;
				}
				.tabs {
					a {
						text-decoration: underline;
					}
				}

				tbody {
					tr {
						&:first-of-type,
						&:nth-of-type(2) {
							td {
								border-top: 0;
							}
						}

						&:last-of-type {
							td {
								border-bottom: 1px solid #dee2e6;
							}
						}
					}

					td {
						vertical-align: middle;
						font-size: 14px;
						@include adaptive(767) {
							min-width: 100px;
						}

						&:first-of-type {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
	// set :: end
}

// SECTION add new strategy :: END
