// SECTION deployed :: START

.deployed {

	&__subtitle {
		padding-bottom: 20px;
		font-weight: bold;
		font-size: 30px;
		letter-spacing: 0.33px;
		text-align: center;
		@include adaptive(767) {
			font-size: 25px;
		}
	}

	&__summary {
		min-height: 100px;
		background-color: #6772E5;
		border-radius: 6px;

		&-title {
			font-weight: 600;
			font-size: 20px;
			color: #FFFFFF;
		}

		&-block {
			display: flex;
			align-items: center;
			@include adaptive(767) {
				flex-wrap: wrap;
				align-items: baseline;
			}

			> div {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				text-align: center;
				border-right: 1px solid #fff;
				@include adaptive(767) {
					flex: unset;
					width: 100%;
					text-align: left;

					&:nth-of-type(1),
					&:nth-of-type(3) {
						max-width: 45%;
						padding-right: 15px;
					}

					&:nth-of-type(2),
					&:nth-of-type(4) {
						max-width: 55%;
						border-right: none;
						padding-left: 15px;
					}
				}

				&:last-of-type {
					border-right: none;
				}

				p {
					font-size: 14px;
					color: #FFFFFF;
					letter-spacing: 0.27px;

					strong {
						font-weight: 600;
						@include adaptive(374) {
							display: block;
						}
					}
				}
			}
		}
	}

	&__archived {
		.nowrap {
			white-space: nowrap;
		}

		.status {
			span {
				color: #6772e5;
			}
		}

		.deatils {
			td {
				border-top: none;
				padding-top: 0;
			}

			p {
				font-weight: 500;
				font-size: 10px;
				letter-spacing: 0.23px;
			}
		}

		.red,
		.green {
			font-style: normal;
		}

		.red {
			color: #f05858;
		}

		.green {
			color: #22c993;
		}


		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #EAEAEA;

			p {
				font-weight: 600;
				font-size: 20px;
				letter-spacing: 0.47px;
				@include adaptive(767) {
					font-size: 18px;
				}

				a {
					color: #6772e5;
				}
			}
		}

		&-info {
			display: flex;
			flex-wrap: wrap;

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(991) {
					max-width: calc(100% / 2);
				}
				@include adaptive(767) {
					max-width: 100%;
				}

				p {
					font-weight: bold;
					font-size: 18px;
					letter-spacing: 0.47px;
					@include adaptive(767) {
						font-size: 16px;
					}

					span {
						font-weight: normal;
					}
				}
			}
		}

		&-table {
			.result {
				span {
					display: inline-block;
					width: 80px;
				}

				i {
					display: inline-block;
					min-width: 100px;
					max-width: 100%;
					padding-left: 15px;
					text-align: right;
				}
			}

			table {
				tbody {
					td {
						padding: 0.5rem 0.75rem;
						font-size: 14px;
						letter-spacing: 0.27px;
					}

					.total {
						td {
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}

// SECTION deployed :: END
