@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap;");
@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before, .icon-bar-chart:before, .icon-check:before, .icon-chip:before, .icon-close:before, .icon-email:before, .icon-facebook:before, .icon-graphene:before, .icon-innovation:before, .icon-layers:before, .icon-line-chart:before, .icon-linkedin:before, .icon-plus:before, .icon-search:before, .icon-settings:before, .icon-twitter:before, .icon-users:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-bar-chart:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-check:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-chip:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-close:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-email:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-graphene:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-innovation:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-layers:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-line-chart:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-plus:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-settings:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-users:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
  color: #333333;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #6772e5;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 139, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright {
  font-size: 13px;
  letter-spacing: 0.4px;
}

/* line 1, src/scss/_shared/_swiper.scss */
.swiper-container {
  width: 100%;
}

/* line 4, src/scss/_shared/_swiper.scss */
.swiper-container-main {
  width: 100%;
  max-width: 610px;
  margin-left: 0;
  padding-bottom: 50px;
}

/* line 11, src/scss/_shared/_swiper.scss */
.swiper-container-features {
  padding-top: 50px;
  padding-bottom: 30px;
}

/* line 16, src/scss/_shared/_swiper.scss */
.swiper-container-features .swiper-slide {
  overflow: hidden;
  height: 94px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.1);
          box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.1);
  background-color: #ffffff;
  -webkit-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 25, src/scss/_shared/_swiper.scss */
.swiper-container-features .swiper-slide:before {
  opacity: 0;
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(336deg, #ff5980, #ffa882);
  background-image: -o-linear-gradient(336deg, #ff5980, #ffa882);
  background-image: linear-gradient(114deg, #ff5980, #ffa882);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 38, src/scss/_shared/_swiper.scss */
.swiper-container-features .swiper-slide-active {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  height: 114px;
  background-color: transparent;
  -webkit-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 44, src/scss/_shared/_swiper.scss */
.swiper-container-features .swiper-slide-active:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 49, src/scss/_shared/_swiper.scss */
.swiper-container-features .swiper-slide-active p,
.swiper-container-features .swiper-slide-active .icon-font {
  color: #ffffff;
}

/* line 58, src/scss/_shared/_swiper.scss */
.swiper-container-pricing {
  padding-top: 45px;
  padding-bottom: 50px;
}

/* line 63, src/scss/_shared/_swiper.scss */
.swiper-container-pricing .swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 69, src/scss/_shared/_swiper.scss */
.swiper-container-pricing .swiper-slide {
  width: 100%;
  max-width: -webkit-calc((100% - (14px * 3)) / 4);
  max-width: calc((100% - (14px * 3)) / 4);
  min-height: 560px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 25px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.07);
          box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.07);
}

/* line 79, src/scss/_shared/_swiper.scss */
.swiper-container-pricing .swiper-pagination {
  opacity: 0;
  visibility: hidden;
}

/* line 88, src/scss/_shared/_swiper.scss */
.swiper-container-partners .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  /* line 92, src/scss/_shared/_swiper.scss */
  .swiper-container-partners .swiper-slide {
    width: auto !important;
  }
}

/* line 101, src/scss/_shared/_swiper.scss */
.swiper-container .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

/* line 107, src/scss/_shared/_swiper.scss */
.swiper-container .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: rgba(34, 42, 66, 0.15);
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
}

/* line 116, src/scss/_shared/_swiper.scss */
.swiper-container .swiper-pagination-bullet-active {
  width: 30px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  background-color: #6772e5;
  -webkit-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 8, src/scss/_macros/_social.scss */
.social__link .icon-font.icon-facebook {
  font-size: 21px;
}

/* line 11, src/scss/_macros/_social.scss */
.social__link .icon-font.icon-twitter {
  font-size: 21px;
}

/* line 14, src/scss/_macros/_social.scss */
.social__link .icon-font.icon-linkedin {
  font-size: 24px;
}

@media screen and (max-width: 575px) {
  /* line 5, src/scss/_macros/_nav.scss */
  .nav--footer .nav__list-link {
    font-size: 13px;
  }
}

/* line 12, src/scss/_macros/_nav.scss */
.nav__link {
  letter-spacing: 0.4px;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_macros/_title.scss */
  .c-title {
    font-size: 30px;
  }
}

/* line 24, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: 110px;
  height: 40px;
  border: 1px solid #6772e5;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

/* line 42, src/scss/_macros/_btn.scss */
.c-btn--border {
  background-color: transparent;
  color: black;
}

/* line 47, src/scss/_macros/_btn.scss */
.c-btn--bg {
  background-color: #6772e5;
}

/* line 50, src/scss/_macros/_btn.scss */
.c-btn--bg:hover {
  color: #ffffff;
}

/* line 5, src/scss/_components/_footer.scss */
.footer__wrapper-0 {
  padding-bottom: 49px;
}

/* line 11, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  padding-top: 55px;
  padding-bottom: 20px;
}

/* line 17, src/scss/_components/_footer.scss */
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #d8d9d8;
}

/* line 24, src/scss/_components/_footer.scss */
.footer__subscribe-title {
  padding-bottom: 5px;
}

/* line 28, src/scss/_components/_footer.scss */
.footer__subscribe .input-group {
  height: 45px;
}

/* line 31, src/scss/_components/_footer.scss */
.footer__subscribe .input-group input.form-control {
  outline: none;
  z-index: 0;
  top: 0;
  left: 0;
  padding-right: 55px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  border: solid 1px rgba(185, 185, 185, 0.3);
  background-color: #ffffff;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.1px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.footer__subscribe .input-group input.form-control.placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.footer__subscribe .input-group input.form-control:-moz-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.footer__subscribe .input-group input.form-control::-moz-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.footer__subscribe .input-group input.form-control:-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.footer__subscribe .input-group input.form-control::-webkit-input-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 49, src/scss/_components/_footer.scss */
.footer__subscribe .input-group input.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 55, src/scss/_components/_footer.scss */
.footer__subscribe .input-group button {
  outline: none;
  z-index: 2;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 6px !important;
          border-radius: 6px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #6772e5;
  background-color: #6772e5;
}

/* line 65, src/scss/_components/_footer.scss */
.footer__subscribe .input-group button .icon-font {
  color: #ffffff;
  font-size: 20px;
}

/* line 3, src/scss/_components/home/_main.scss */
.main {
  padding-top: 188px;
  padding-bottom: 280px;
}

/* line 7, src/scss/_components/home/_main.scss */
.main__bg {
  top: 0;
  left: 0;
}

/* line 12, src/scss/_components/home/_main.scss */
.main__bg-img-1 {
  top: 0;
  left: 0;
}

/* line 17, src/scss/_components/home/_main.scss */
.main__bg-img-2 {
  display: block;
  right: 0;
}

/* line 23, src/scss/_components/home/_main.scss */
.main__bg-img-3 {
  top: 114px;
  right: 0;
}

/* line 29, src/scss/_components/home/_main.scss */
.main__bg-row {
  padding-top: 188px;
}

/* line 34, src/scss/_components/home/_main.scss */
.main__bg-col-1 {
  width: 610px;
}

/* line 37, src/scss/_components/home/_main.scss */
.main__bg-col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 45, src/scss/_components/home/_main.scss */
.main__wrapper {
  z-index: 2;
}

/* line 49, src/scss/_components/home/_main.scss */
.main__title {
  padding-bottom: 20px;
  font-size: 70px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.6px;
}

/* line 57, src/scss/_components/home/_main.scss */
.main__desc {
  color: rgba(51, 51, 51, 0.8);
  font-size: 20px;
  line-height: 1.55;
  letter-spacing: 0.1px;
}

/* line 3, src/scss/_components/home/_do.scss */
.do {
  padding-bottom: 80px;
}

/* line 6, src/scss/_components/home/_do.scss */
.do__bg {
  top: 0;
  left: 0;
}

/* line 11, src/scss/_components/home/_do.scss */
.do__title {
  padding-top: 46px;
  padding-bottom: 80px;
}

/* line 16, src/scss/_components/home/_do.scss */
.do .card {
  border: none;
  background-color: transparent;
}

/* line 20, src/scss/_components/home/_do.scss */
.do .card-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
}

@media screen and (max-width: 991px) {
  /* line 27, src/scss/_components/home/_do.scss */
  .do .card-title br {
    display: none;
  }
  /* line 31, src/scss/_components/home/_do.scss */
  .do .card-title span {
    display: block;
  }
}

/* line 37, src/scss/_components/home/_do.scss */
.do .card-text {
  max-width: 230px;
  margin: 0;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  /* line 37, src/scss/_components/home/_do.scss */
  .do .card-text {
    max-width: 100%;
  }
}

/* line 48, src/scss/_components/home/_do.scss */
.do .card-line {
  margin-bottom: 15px;
  width: 50px;
  height: 4px;
  background-color: #6772e5;
}

/* line 55, src/scss/_components/home/_do.scss */
.do .card__link {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #6772e5;
}

/* line 62, src/scss/_components/home/_do.scss */
.do .card__link:hover .icon-font {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 68, src/scss/_components/home/_do.scss */
.do .card__link .icon-font {
  margin-left: 5px;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 84, src/scss/_components/home/_do.scss */
.do .card-0 .card-img {
  width: 139px;
  height: 97px;
  margin-bottom: 20px;
  background-image: url("../img/img-do-card-bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

/* line 93, src/scss/_components/home/_do.scss */
.do .card-0 .card-img .icon-font {
  color: #ffffff;
  font-size: 47px;
}

/* line 84, src/scss/_components/home/_do.scss */
.do .card-1 .card-img {
  width: 122px;
  height: 96px;
  margin-bottom: 20px;
  background-image: url("../img/img-do-card-bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

/* line 93, src/scss/_components/home/_do.scss */
.do .card-1 .card-img .icon-font {
  color: #ffffff;
  font-size: 49px;
  left: 5px;
}

/* line 84, src/scss/_components/home/_do.scss */
.do .card-2 .card-img {
  width: 139px;
  height: 99px;
  margin-bottom: 20px;
  background-image: url("../img/img-do-card-bg-3.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

/* line 93, src/scss/_components/home/_do.scss */
.do .card-2 .card-img .icon-font {
  color: #ffffff;
  font-size: 53px;
  top: -5px;
}

/* line 84, src/scss/_components/home/_do.scss */
.do .card-3 .card-img {
  width: 114px;
  height: 99px;
  margin-bottom: 20px;
  background-image: url("../img/img-do-card-bg-4.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

/* line 93, src/scss/_components/home/_do.scss */
.do .card-3 .card-img .icon-font {
  color: #ffffff;
  font-size: 45px;
  left: 5px;
}

/* line 3, src/scss/_components/home/_features.scss */
.features {
  min-height: 600px;
  background-image: url("../img/img-features-bg.png");
  background-position: top left;
}

/* line 8, src/scss/_components/home/_features.scss */
.features__wrapper {
  padding-top: 168px;
}

/* line 12, src/scss/_components/home/_features.scss */
.features__header {
  padding-bottom: 18px;
}

/* line 16, src/scss/_components/home/_features.scss */
.features__carousel {
  width: 100%;
}

/* line 20, src/scss/_components/home/_features.scss */
.features__carousel-btn a {
  width: 65px;
  height: 65px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #6772E5;
  -webkit-box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.14);
          box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.14);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 30, src/scss/_components/home/_features.scss */
.features__carousel-btn a.swiper-button-disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 35, src/scss/_components/home/_features.scss */
.features__carousel-btn a.swiper-button-disabled .icon-font {
  color: #6772e5;
}

/* line 40, src/scss/_components/home/_features.scss */
.features__carousel-btn a .icon-font {
  color: #fff;
  font-size: 26px;
}

/* line 47, src/scss/_components/home/_features.scss */
.features__carousel-btn--next .icon-font {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* line 53, src/scss/_components/home/_features.scss */
.features__carousel p {
  color: #b3c5dc;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

/* line 60, src/scss/_components/home/_features.scss */
.features__carousel .icon-font {
  color: #b3c5dc;
}

/* line 64, src/scss/_components/home/_features.scss */
.features__carousel .icon-font.icon-chip {
  font-size: 48px;
}

/* line 67, src/scss/_components/home/_features.scss */
.features__carousel .icon-font.icon-innovation {
  font-size: 50px;
}

/* line 70, src/scss/_components/home/_features.scss */
.features__carousel .icon-font.icon-line-chart {
  font-size: 48px;
}

/* line 73, src/scss/_components/home/_features.scss */
.features__carousel .icon-font.icon-graphene {
  font-size: 44px;
}

/* line 3, src/scss/_components/home/_pricing.scss */
.pricing {
  padding-top: 74px;
  padding-bottom: 104px;
}

/* line 7, src/scss/_components/home/_pricing.scss */
.pricing__bg {
  top: 0;
  left: 0;
  padding-top: 175px;
}

/* line 13, src/scss/_components/home/_pricing.scss */
.pricing__wrapper {
  z-index: 2;
}

/* line 17, src/scss/_components/home/_pricing.scss */
.pricing__title {
  padding-bottom: 11px;
}

/* line 21, src/scss/_components/home/_pricing.scss */
.pricing__desc {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  letter-spacing: 0.1px;
}

/* line 34, src/scss/_components/home/_pricing.scss */
.pricing__plan {
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

/* line 41, src/scss/_components/home/_pricing.scss */
.pricing__price {
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
}

/* line 47, src/scss/_components/home/_pricing.scss */
.pricing__price span {
  position: relative;
  top: -7px;
  font-size: 20px;
}

/* line 54, src/scss/_components/home/_pricing.scss */
.pricing__list {
  padding-bottom: 30px;
}

/* line 57, src/scss/_components/home/_pricing.scss */
.pricing__list-item {
  padding-bottom: 10px;
}

/* line 61, src/scss/_components/home/_pricing.scss */
.pricing__list-item > div:nth-of-type(1) {
  width: 30px;
}

/* line 64, src/scss/_components/home/_pricing.scss */
.pricing__list-item > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 71, src/scss/_components/home/_pricing.scss */
.pricing__list-item p,
.pricing__list-item span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

/* line 78, src/scss/_components/home/_pricing.scss */
.pricing__list-item span {
  opacity: 0.6;
}

/* line 82, src/scss/_components/home/_pricing.scss */
.pricing__list-item .icon-font {
  position: relative;
  top: 5px;
}

/* line 86, src/scss/_components/home/_pricing.scss */
.pricing__list-item .icon-font.icon-check {
  color: #22c993;
  font-size: 11px;
}

/* line 90, src/scss/_components/home/_pricing.scss */
.pricing__list-item .icon-font.icon-close {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
}

/* line 99, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

/* line 104, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn a {
  width: 65px;
  height: 65px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #6772E5;
  -webkit-box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.14);
          box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.14);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 114, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn a.swiper-button-disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 119, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn a.swiper-button-disabled .icon-font {
  color: #6772e5;
}

/* line 124, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn a .icon-font {
  color: #fff;
  font-size: 26px;
}

/* line 131, src/scss/_components/home/_pricing.scss */
.pricing__carousel-btn--next .icon-font {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* line 3, src/scss/_components/home/_partners.scss */
.partners {
  padding-top: 35px;
  padding-bottom: 105px;
}

/* line 7, src/scss/_components/home/_partners.scss */
.partners__title {
  padding-bottom: 49px;
}

/* line 3, src/scss/_components/home/_help.scss */
.help {
  position: relative;
  padding-top: 117px;
}

/* line 7, src/scss/_components/home/_help.scss */
.help__bg {
  top: 0;
  left: 0;
}

/* line 16, src/scss/_components/home/_help.scss */
.help__wrapper {
  z-index: 2;
}

/* line 19, src/scss/_components/home/_help.scss */
.help__wrapper-0 {
  padding-bottom: 154px;
}

/* line 23, src/scss/_components/home/_help.scss */
.help__wrapper-1 {
  padding-bottom: 100px;
}

/* line 27, src/scss/_components/home/_help.scss */
.help__wrapper-bg {
  top: 0;
  left: 0;
}

/* line 33, src/scss/_components/home/_help.scss */
.help__title {
  padding-bottom: 15px;
}

/* line 37, src/scss/_components/home/_help.scss */
.help__text {
  padding-bottom: 43px;
  line-height: 1.5;
  font-size: 18px;
}

/* line 42, src/scss/_components/home/_help.scss */
.help__text-wrapper {
  width: 100%;
  max-width: 460px;
}

/* line 48, src/scss/_components/home/_help.scss */
.help .input-group {
  width: 100%;
  max-width: 445px;
  height: 45px;
}

/* line 53, src/scss/_components/home/_help.scss */
.help .input-group .form-control {
  z-index: 0;
  padding-right: 100px;
  border: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.help .input-group .form-control.placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.help .input-group .form-control:-moz-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.help .input-group .form-control::-moz-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.help .input-group .form-control:-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.help .input-group .form-control::-webkit-input-placeholder {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.1px;
}

/* line 70, src/scss/_components/home/_help.scss */
.help .input-group .btn {
  z-index: 0;
  width: 75px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 76, src/scss/_components/home/_help.scss */
.help .input-group .btn:hover, .help .input-group .btn:focus {
  background-color: #6772e5;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 81, src/scss/_components/home/_help.scss */
.help .input-group .btn:hover .icon-font, .help .input-group .btn:focus .icon-font {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 87, src/scss/_components/home/_help.scss */
.help .input-group .btn .icon-font {
  color: #d7d8d8;
  font-size: 22px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 95, src/scss/_components/home/_help.scss */
.help .accordion {
  width: 100%;
  max-width: 570px;
  margin-left: auto;
}

/* line 100, src/scss/_components/home/_help.scss */
.help .accordion .card {
  overflow: unset;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
}

/* line 106, src/scss/_components/home/_help.scss */
.help .accordion .card:last-of-type {
  margin-bottom: 0;
}

/* line 110, src/scss/_components/home/_help.scss */
.help .accordion .card-header {
  overflow: hidden;
  height: 50px;
  border: none;
  -webkit-border-radius: 6px !important;
          border-radius: 6px !important;
  -webkit-box-shadow: 0 2px 20px 0 rgba(17, 30, 79, 0.08);
          box-shadow: 0 2px 20px 0 rgba(17, 30, 79, 0.08);
  background-color: #ffffff;
}

/* line 118, src/scss/_components/home/_help.scss */
.help .accordion .card-header button {
  font-size: 16px;
  line-height: 1.5;
  color: #222a42;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 124, src/scss/_components/home/_help.scss */
.help .accordion .card-header button:focus {
  text-decoration: none;
}

/* line 128, src/scss/_components/home/_help.scss */
.help .accordion .card-header button:hover {
  text-decoration: none;
  color: #6772e5;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 135, src/scss/_components/home/_help.scss */
.help .accordion .card-header button > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 140, src/scss/_components/home/_help.scss */
.help .accordion .card-header button > div:nth-of-type(2) {
  width: 45px;
}

/* line 145, src/scss/_components/home/_help.scss */
.help .accordion .card-header button .icon-font {
  color: #6772e5;
}

/* line 151, src/scss/_components/home/_help.scss */
.help .accordion .card-body {
  line-height: 1.5;
}

/* line 157, src/scss/_components/home/_help.scss */
.help__contacts {
  width: 100%;
  max-width: 504px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 165, src/scss/_components/home/_help.scss */
.help__contacts-title {
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

/* line 173, src/scss/_components/home/_help.scss */
.help__contacts .form-group label {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #ffffff;
}

/* line 181, src/scss/_components/home/_help.scss */
.help__contacts .form-group .form-control {
  height: 38px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.help__contacts .form-group .form-control.placeholder {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.help__contacts .form-group .form-control:-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.help__contacts .form-group .form-control::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.help__contacts .form-group .form-control:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.help__contacts .form-group .form-control::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #333333;
}

/* line 197, src/scss/_components/home/_help.scss */
.help__contacts .form-group textarea {
  resize: none;
  min-height: 120px;
}

/* line 203, src/scss/_components/home/_help.scss */
.help__contacts button {
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=maps/app.css.map */
