// SECTION strategy :: START

.strategy__section.strategy__tabs
	div
		a.strategy__tabs-btn(href="#" class="" title="")!= "Deployed"
	div
		a.strategy__tabs-btn.is-active(href="#" class="" title="")!= "My Strategies"
	div
		a.strategy__tabs-btn(href="#" class="" title="")!= "Marketplace"

// SECTION strategy :: END
