// SECTION strategy :: START

section#myStrategies.main.myStrategies.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.strategy__bg.position-absolute.w-100.h-100
		img(src="img/img-do-bg.png" srcset="img/img-do-bg@2x.png 2x, img/img-do-bg@3x.png 3x" alt="" title="")

	.main__wrapper

			.container
				.row
					.col

						.myStrategies__wrapper.myStrategies__wrapper-0

							.myStrategies__wrapper-left

								// myStrategies tabs
								include _my-strategies--categories
								// myStrategies tabs :: end

							.myStrategies__wrapper-right

								// myStrategies tabs
								include _my-strategies--tabs
								// myStrategies tabs :: end

						.myStrategies__wrapper.myStrategies__wrapper-1


	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")


// SECTION strategy :: END
