// SECTION strategy :: START

.myStrategies__section.myStrategies__categories.p-3
	a.myStrategies__categories-btn.is-active(href="#" class="" title="")!= "Created"
	span |
	a.myStrategies__categories-btn(href="#" class="" title="")!= "Subscribed"

// SECTION strategy :: END
