// SECTION add new strategy :: START

section#newStrategy.main.newStrategy.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.strategy__bg.position-absolute.w-100.h-100
		img(src="img/img-do-bg.png" srcset="img/img-do-bg@2x.png 2x, img/img-do-bg@3x.png 3x" alt="" title="")

	.main__wrapper

		.container
			.row
				.col

					h2.newStrategy__title!= "Add new strategy"

					// add new strategies info
					include _add-new-strategy--info
					// add new strategies info :: end

					// add new strategies set 1
					include _add-new-strategy--set1
					// add new strategies set 1 :: end

					// add new strategies set 2
					include _add-new-strategy--set2
					// add new strategies set 2 :: end

					h3.newStrategy__subtitle!= "Advanced Settings"

					// add new strategies advanced
					include _add-new-strategy--advanced
					// add new strategies advanced :: end

					h3.newStrategy__subtitle!= "Marketplace Settings"

					// add new strategies marketplace
					include _add-new-strategy--marketplace
					// add new strategies marketplace :: end

					.newStrategy__btn-wrapper
						a.newStrategy__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Create"

	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")


// SECTION add new strategy :: END
