.newStrategy__section.newStrategy__advanced.px-3.py-4

	.newStrategy__advanced-wrapper

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Price execution 1
			.newStrategy__advanced-row.newStrategy__advanced-row--three
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesPriceRevision') Revison attemps
						select#newStrategiesPriceRevision.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesInitiationPrice') Initiation price
						select#newStrategiesInitiationPrice.form-control
							option
							option
				.newStrategy__advanced-col.newStrategy__advanced-col-3
					.form-group.mb-3
						label(for='newStrategiesIncreasedBy') Increased by
						select#newStrategiesIncreasedBy.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Price execution 2
			.newStrategy__advanced-row.newStrategy__advanced-row--half
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesTimeout') Timeout
						select#newStrategiesTimeout.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesFinalAction') Final action
						select#newStrategiesFinalAction.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Tranching
			.newStrategy__advanced-row.newStrategy__advanced-row--two
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesTranchSize') Tranch size
						select#newStrategiesTranchSize.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesOneTranch') One tranch every
						select#newStrategiesOneTranch.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Trailing Stop Loss
			.newStrategy__advanced-row.newStrategy__advanced-row--three
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesActivateAt') Activate at
						select#newStrategiesActivateAt.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesWhenProfile') When profile increased by
						select#newStrategiesWhenProfile.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-3
					.form-group.mb-3
						label(for='newStrategiesIncreaseTSL') Increase TSL by
						select#newStrategiesIncreaseTSL.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Reactivate every
			.newStrategy__advanced-row
				.newStrategy__advanced-col
					.form-group.mb-3
						select#newStrategiesTranchSize.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Capital Required
			.newStrategy__advanced-row
				.newStrategy__advanced-col
					.form-group.mb-3
						input#newStrategiesHideSubscribers.form-control(type='text', placeholder='' value= '0')

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Take trades
			.newStrategy__advanced-row.newStrategy__advanced-row--half
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesFirstTrade') First trade after exchange open
						select#newStrategiesFirstTrade.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesLastTrade') Last trade before exchange close
						select#newStrategiesLastTrade.form-control
							option
							option

		.newStrategy__advanced-block
			p.newStrategy__advanced-title Rollover on expiry
			.newStrategy__advanced-row.newStrategy__advanced-row--half
				.newStrategy__advanced-col.newStrategy__advanced-col-1
					.form-group.mb-3
						label(for='newStrategiesChooseExpiry') Choose expiry
						select#newStrategiesChooseExpiry.form-control
							option
							option

				.newStrategy__advanced-col.newStrategy__advanced-col-2
					.form-group.mb-3
						label(for='newStrategiesChooseTime') Choose time
						select#newStrategiesChooseTime.form-control
							option
							option
