// SECTION account profile :: START

.a-profile {
	padding-bottom: 120px;

	.main__wrapper {
		z-index: 2;
		position: relative;
	}

	&__wrapper {
		display: flex;

		&-left {
			width: 250px;
			padding-right: 30px;
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			> div {
				min-height: 1200px;
			}
		}
	}

	&__section {
		margin-bottom: 30px;
		border-radius: 6px;
		background-color: #ffffff;
		box-shadow: 0 1px 20px 0 rgba(17,30,79,0.10);

		&-head {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 58px;
			border-bottom: 1px solid #EAEAEA;
		}

		&-body {
			width: 100%;
			min-height: 100%;
		}

		&-title {
			font-weight: 600;
			font-size: 20px;
			letter-spacing: 0.47px;

			span {
				font-weight: normal;
			}
		}

		&-btn {
			max-width: 180px;

			&-wrapper {
				display: flex;
				justify-content: center;
			}
		}
	}

	// menu
	&__menu {
		&-btn {
			padding-top: 10px;
			padding-bottom: 10px;

			&.is-active {
				.icon-font,
				p {
					color: #6772e5;
					@include transition(color);
				}
			}

			&--dropdown {
				> a {
					> div {
						&:nth-of-type(3) {
							display: flex;
							justify-content: flex-end;
							width: 35px;
						}
					}
				}
			}

			> a {
				> div {
					&:nth-of-type(1) {
						width: 35px;
					}

					&:nth-of-type(2) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
					}
				}

				p {
					font-weight: 500;
					@include transition(color);
				}

				.icon-font {
					font-size: 20px;
					@include transition(color);

					&.icon-corner {
						width: 8px;
						transform: rotate(-90deg);
						font-size: 8px;
					}
				}
			}
		}

		&-drop {
			display: none;
			width: calc(100% + 2rem);
			margin-left: -1rem;
			padding-top: 10px;

			> a {
				display: flex;
				align-items: center;
				min-height: 30px;
				@include transition(background-color, color);

				&.is-active {
					background-color: #6772e5;
					color: #ffffff;
					@include transition(background-color, color);
				}

				> div {
					&:nth-of-type(1) {
						width: calc(35px + 1rem);
					}

					&:nth-of-type(2) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
					}
				}
			}
		}
	}
	// menu :: end


	// profile
	&__profile {}
	// profile :: end


	// ledger
	&__ledger {}
	// ledger :: end


	// addFunds
	&__addFunds {}
	// addFunds :: end


	// withdrawFunds
	&__withdrawFunds {}
	// withdrawFunds :: end


	// subscriptions
	&__subscriptions {}
	// subscriptions :: end


	// brokenExchange
	&__brokenExchange {}
	// brokenExchange :: end


	// coupons
	&__coupons {}
	// coupons :: end


	// notifications
	&__notifications {
		&-table {
			table {
				thead {
					th {
						border-top: none;
						border-bottom-width: 1px;
						font-size: 14px;
						font-weight: bold;
					}
				}

				tbody {
					tr {
						&:last-of-type {
							td {
								border-bottom: 1px solid #dee2e6;
							}
						}

						&.middle {
							td {
								vertical-align: middle;
							}
						}

						td {
							&:nth-of-type(1) {
								white-space: nowrap;
							}
						}
					}
				}
			}

			th,
			td {
				letter-spacing: 0.27px;

			}

			td {
				padding-right: 80px;
				font-size: 16px;

				span {
					min-width: 80px;
				}
			}
		}
	}
	// notifications :: end


	// changePassword
	&__changePassword {
		&-form {
			width: 100%;
			max-width: 620px;
			margin-left: auto;
			margin-right: auto;

			&-group {
				display: flex;
				justify-content: space-between;

				> div {
					width: 100%;
					max-width: calc((100% - 20px) / 2);
				}
			}
		}
	}
	// changePassword :: end
}

// SECTION account profile :: END
