// SECTION features :: START

.features {
	overflow: hidden;
	min-height: 600px;
	background-image: url('../img/img-features-bg.png');
	background-position: top left;
	@include adaptive(767) {
		min-height: 400px;
		background-size: cover;
		background-position: center;
	}

	&__wrapper {
		padding-top: 168px;
		@include adaptive(767) {
			padding-top: 130px;
			padding-bottom: 130px;
		}
	}

	&__header {
		padding-bottom: 18px;
		@include adaptive(767) {
			padding-bottom: 0;
			text-align: center;
		}
	}

	&__title {
		@include adaptive(767) {
			width: 100%;
			text-align: center;
		}
	}

	&__carousel {
		width: 100%;
		margin-left: auto;
		@include adaptive(767) {
			max-width: unset !important;
			margin-left: auto;
		}

		&-btn {
			@include adaptive(767) {
				opacity: 0;
				visibility: hidden;
				position: absolute;
			}

			a {
				width: 65px;
				height: 65px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 6px;
				background-color: #6772E5;
				box-shadow: 0 1px 20px 0 rgba(17,30,79,0.14);
				@include transition(box-shadow, background-color);

				&.swiper-button-disabled {
					opacity: 0.75;
					pointer-events: none;
					cursor: not-allowed;
					@include transition(box-shadow, background-color, color);
				}

				.icon-font {
					color: #fff;
					font-size: 26px;
				}
			}

			&--prev {
				.icon-font {
					transform: rotate(-180deg);
				}
			}
		}

		p {
			color: #b3c5dc;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.5;
		}

		.icon-font {
			color: #b3c5dc;

			&.icon {
				&-chip {
					font-size: 48px;
				}
				&-innovation {
					font-size: 50px;
				}
				&-line-chart {
					font-size: 48px;
				}
				&-graphene {
					font-size: 44px;
				}
			}
		}
	}
}

// SECTION features :: END
