// SECTION main :: START

.main {
	padding-top: 188px;
	padding-bottom: 200px;
	@include adaptive(1199) {
		overflow: hidden;
		padding-bottom: 140px;
	}
	@include adaptive(1023) {
		padding-bottom: 95px;
	}
	@include adaptive(767) {
		overflow: unset;
		padding-bottom: 0;
	}

	&--features {
		padding-bottom: 140px;
		@include adaptive(1023) {
			padding-bottom: 95px;
		}
		@include adaptive(767) {
			padding-bottom: 50px;
		}

		.main {
			&__bg {
				&-1 {
					@include adaptive(1023) {
						position: relative !important;
						padding-top: 100px;
						padding-bottom: 50px;

						.main__bg-row,
						.main__bg-col {
							position: static !important;
							padding: 0;
						}

						.main__bg-col {
							&-1 {
								display: none;
							}
							&-2 {
								width: 100%;
								max-width: 100%;
								padding-left: 15px;
								padding-right: 15px;
							}
						}

						.main__bg-img {
							&-2 {
								display: none !important;
							}
							&-3 {
								top: 0;
								max-height: 100%;
							}
							&-4 {
								position: relative !important;
								display: block;
								margin-left: auto;
								margin-right: auto;
							}
						}
					}
				}
				&-col {
					&-1 {
						@include adaptive(1365) {
							width: 750px;
						}
						@include adaptive(1279) {
							width: 575px;
						}
						@include adaptive(1023) {
							width: 0;
						}
					}

					&-2 {
						@include adaptive(1365) {
							max-width: calc(100% - 750px);
						}
						@include adaptive(1279) {
							max-width: calc(100% - 575px);
						}
						@include adaptive(1023) {
							max-width: 100%;
						}
					}
				}
			}

			&__text-wrapper {
				width: 100%;
				max-width: 610px;
				@include adaptive(1279) {
					max-width: 495px;
				}
				@include adaptive(1023) {
					max-width: 100%;
				}
			}

			&__title {
				padding-bottom: 48px;
				@include adaptive(1023) {
					padding-bottom: 21px;
				}
			}

			&__subtitle {
				font-size: 30px;
				font-weight: bold;
				line-height: 2.67;
				letter-spacing: 0.5px;
				@include adaptive(767) {
					font-size: 25px;
					letter-spacing: 0.2px;
				}
			}
		}
	}

	&--useCases {
		.main {
			&__bg {
				&-0 {
					@include adaptive(1023) {
						.main__bg-img-3 {
							top: 0;
							max-width: 75%;
							transform: translateX(55%);
						}
					}
				}
				&-1 {
					@include adaptive(1023) {
						.main__bg-img {
							&-2 {
								position: static !important;
								display: block !important;
								max-width: 100%;
								transform: translate(0, 0);
								margin-left: auto;
								margin-right: auto;
							}
							&-3 {
								display: none !important;
							}
						}
					}
					@include adaptive(767) {
						.main__bg-img {
							&-3 {
								display: block !important;
							}
						}
					}
				}

				&-img {
					&-2 {
						top: 350px;
						right: 20px;
						@include adaptive(1439) {
							right: 0;
						}
						@include adaptive(1199) {
							max-width: unset;
							top: 230px;
							right: 0;
							transform: translate(30%, 100px);
						}
					}
				}
			}

			&__text-wrapper {
				@include adaptive(1199) {
					max-width: 100%;
				}
			}

			&__title {
				font-size: 50px;
				@include adaptive(1199) {
					width: 100%;
					max-width: 495px;
				}
				@include adaptive(991) {
					max-width: 550px;
				}
				@include adaptive(767) {
					max-width: 100%;
					font-size: 40px;
				}
			}

			&__desc {
				&-0 {
					@include adaptive(1199) {
						width: 100%;
						max-width: 495px;
					}
					@include adaptive(991) {
						max-width: 100%;
					}
				}
			}
		}
	}

	&--pricing {
		padding-bottom: 50px;
	}

	&__bg {
		z-index: 0;
		top: 0;
		left: 0;

		&-col {
			min-height: 100%;
		}

		&-0 {
			@include adaptive(767) {
				overflow: hidden;
			}
		}

		&-1 {
			@include adaptive(767) {
				position: relative !important;
				padding-top: 100px;
				padding-bottom: 100px;

				.main__bg-row,
				.main__bg-col {
					position: static !important;
					padding: 0;
				}

				.main__bg-col {
					&-1 {
						display: none;
					}
					&-2 {
						width: 100%;
						max-width: 100%;
					}
				}

				.main__bg-img {
					&-2 {
						display: none !important;
					}
					&-3 {
						top: 0;
					}
					&-4 {
						position: relative !important;
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		&-img {
			&-1 {
				top: 0;
				left: 0;
				@include adaptive(1199) {
					left: -100px;
				}
				@include adaptive(1023) {
					left: -120px;
				}
				@include adaptive(575) {
					top: -20px;
					left: -150px;
				}
			}

			&-2 {
				top: 188px;
				right: 0;
			}

			&-3 {
				top: 114px;
				right: 0;
			}
			&-4 {
				display: none;
			}
		}

		&-row {
			padding-top: 188px;
		}

		&-col {
			top: 0;
			width: 50%;

			&-1 {
				left: 0;
				@include adaptive(1199) {
					width: 541px;
				}
				@include adaptive(1023) {
					width: 50%;
				}
			}

			&-2 {
				right: 0;
				@include adaptive(1199) {
					max-width: calc(100% - 575px);
				}
				@include adaptive(1023) {
					max-width: 50%;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
	}

	&__title {
		padding-bottom: 20px;
		font-size: 70px;
		font-weight: bold;
		line-height: 1.14;
		letter-spacing: 0.6px;
		@include adaptive(1199) {
			font-size: 65px;
		}
		@include adaptive(1023) {
			font-size: 50px;
		}
		@include adaptive(767) {
			font-size: 40px;
		}
	}

	&__desc {
		color: rgba(#333, 0.8);
		font-size: 19px;
		line-height: 1.55;
		letter-spacing: 0.1px;

		&--pb {
			padding-bottom: 50px;
		}
	}
}

// SECTION main :: END
