// SECTION main :: START

.main {
	padding-top: 188px;
	padding-bottom: 230px;
	@include adaptive(1199) {
		overflow: hidden;
		padding-bottom: 140px;
	}
	@include adaptive(1023) {
		padding-bottom: 95px;
	}

	&__bg {
		z-index: 0;
		top: 0;
		left: 0;

		&-img {
			&-1 {
				top: 0;
				left: 0;
				@include adaptive(1199) {
					left: -100px;
				}
				@include adaptive(1023) {
					left: -175px;
				}
			}

			&-2 {
				top: 188px;
				right: 0;
			}

			&-3 {
				top: 114px;
				right: 0;
			}
		}

		&-row {
			padding-top: 188px;
		}

		&-col {
			top: 0;
			width: 50%;

			&-1 {
				left: 0;
				@include adaptive(1199) {
					width: 541px;
				}
				@include adaptive(1023) {
					width: 50%;
				}
			}

			&-2 {
				right: 0;
				@include adaptive(1199) {
					max-width: calc(100% - 575px);
				}
				@include adaptive(1023) {
					max-width: 50%;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
	}

	&__title {
		padding-bottom: 20px;
		font-size: 70px;
		font-weight: bold;
		line-height: 1.14;
		letter-spacing: 0.6px;
		@include adaptive(1199) {
			font-size: 65px;
		}
		@include adaptive(1023) {
			font-size: 40px;
		}
	}

	&__desc {
		color: rgba(#333, 0.8);
		font-size: 20px;
		line-height: 1.55;
		letter-spacing: 0.1px;
	}
}

// SECTION main :: END
