// SECTION our partners :: START

.partners {
	padding-top: 35px;
	padding-bottom: 105px;
	@include adaptive(1199) {
		padding-bottom: 70px;
	}

	&__title {
		padding-bottom: 49px;
	}
}

// SECTION our partners :: END
