// SECTION pricing :: START

.pricing {
	overflow: hidden;
	padding-top: 74px;
	padding-bottom: 104px;
	@include adaptive(1023) {
		padding-bottom: 74px;
	}

	&--pricing {
		padding-top: 50px;

		.pricing {
			&__bg {
				top: 0;
				left: 0;
			}

			&__title {
				padding-bottom: 0;
			}

			&__header {
				align-items: center;
				padding-bottom: 30px;

				> div {
					&:nth-of-type(1) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
					}
				}

				.pricing__title {
					text-align: left !important;
				}
			}
		}
	}

	.container {
		&--carousel {
			@include adaptive(1023) {
				max-width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__bg {
		top: 0;
		left: 0;
		padding-top: 175px;
	}

	&__wrapper {
		z-index: 2;
	}

	&__title {
		padding-bottom: 11px;
	}

	&__desc {
		width: 100%;
		max-width: 730px;
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
		letter-spacing: 0.1px;
	}

	&__header {
		@include adaptive(1023) {
			display: flex;
			align-items: flex-start;

			> div {
				&:nth-of-type(1) {
					margin-right: 60px;
					@include adaptive(767) {
						margin-right: 0;
					}
				}

				.pricing__title,
				.pricing__desc {
					text-align: left !important;
					@include adaptive(767) {
						text-align: center !important;
					}
				}
			}
		}
	}

	&__plan {
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}

	&__price {
		white-space: nowrap;
		padding-bottom: 30px;
		font-size: 55px;
		font-weight: bold;
		line-height: 1;

		span {
			position: relative;
			top: -7px;
			font-size: 20px;
		}
	}

	&__list {
		padding-bottom: 30px;

		&-item  {
			padding-bottom: 10px;

			> div {
				&:nth-of-type(1) {
					width: 30px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			p,
			span {
				font-size: 14px;
				font-weight: 500;
				line-height: 1.71;
			}

			span {
				opacity: 0.6;
			}

			.icon-font {
				position: relative;
				top: 5px;

				&.icon-check {
					color: #22c993;
					font-size: 11px;
				}
				&.icon-close {
					color: rgba(#333333, 0.6);
					font-size: 14px;
				}
			}
		}
	}

	&__carousel {
		@include adaptive(1023) {
			margin-left: auto;
		}

		&-btn {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			@include adaptive(1023) {
				opacity: 1;
				visibility: visible;
				position: static;
			}
			@include adaptive(767) {
				opacity: 0;
				visibility: hidden;
				position: absolute;
			}

			a {
				width: 65px;
				height: 65px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 6px;
				background-color: #6772E5;
				box-shadow: 0 1px 20px 0 rgba(17,30,79,0.14);
				@include transition(box-shadow, background-color);

				&.swiper-button-disabled {
					opacity: 0.75;
					pointer-events: none;
					cursor: not-allowed;
					@include transition(box-shadow, background-color, color);
				}

				.icon-font {
					color: #fff;
					font-size: 26px;
				}
			}

			&--prev {
				.icon-font {
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__type {
		&-title {
			white-space: nowrap;
			padding-right: 15px;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 0.08px;
		}

		&-row {
			> div {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&-wrapper {
			padding-right: 20px;
			@include adaptive(767) {
				padding-right: 0;
			}

			label {
				cursor: pointer;

				input  {
					opacity: 0;
					width: 0;
					height: 0;

					&:checked {
						& + span {
							border-color: #333;
							color: #333;
							@include transition(border-color, color);

							&:after {
								opacity: 1;
								background-color: #333333;
								transform: scale(1) translateY(-50%);
								@include transition(opacity, background-color, transform);
							}
						}
					}
				}

				span {
					white-space: nowrap;
					display: flex;
					align-items: center;
					position: relative;
					top: 1px;
					height: 40px;
					padding-left: 35px;
					padding-right: 10px;
					border-radius: 6px;
					border: 1px solid #DCE4F1;
					background-color: #ffffff;
					font-weight: 600;
					font-size: 16px;
					color: rgba(#333, 0.65);
					letter-spacing: 0.1px;
					@include transition(border-color, color);

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						border-radius: 50%;
					}

					&:before {
						transform: translateY(-50%);
						left: 10px;
						width: 15px;
						height: 15px;
						border: 1px solid rgba(#333, 0.65);
						background-color: transparent;
					}

					&:after {
						opacity: 0;
						left: 12px;
						width: 11px;
						height: 11px;
						background-color: rgba(#333, 0.65);
						transform-origin: center;
						transform: scale(0) translateY(-50%);
						@include transition(opacity, background-color, transform);
					}
				}
			}
		}
	}

	&__exchange {
		&-title {
			white-space: nowrap;
			padding-right: 15px;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 0.08px;
		}

		&-row {
			width: 180px;
		}

		&-wrapper {
			width: 100%;
			padding-left: 20px;
			@include adaptive(767) {
				padding-left: 0;
			}

			.form-group {
				margin-bottom: 0;
			}

			.form-control {
				outline: none;
				height: 40px;
				border-radius: 6px;
				border: solid 1px #DCE4F1;
				letter-spacing: 0.1px;
				color: #333333;
				@include inputPlaceholder {
					letter-spacing: 0.1px;
					color: #333333;
				}

				&:focus,
				&.focus {
					box-shadow: none;
				}
			}
		}
	}
}

// SECTION pricing :: END
