// MODAL add new strategies condition :: START

#addStrategiesCondition.modal.modal--condition.fade(tabindex='-1', role='dialog', aria-labelledby='AddStrategies', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		form(action="" autocomplete="off").modal-content.pb-5
			.modal-header.justify-content-center.pt-5.pb-3.position-relative
				h5#AddStrategies.modal-title Condition builder

				a.modal__close.position-absolute(href="#" data-dismiss="modal" aria-label="Close")
					i.icon-font.icon-close

			.modal-body
				.modal-body-cover

					.modal-body-field.modal-body-field-0
						div
							.form-group.mb-0
								label(for='addNewStrategiesSampleConditions') Sample conditions
								select#addNewStrategiesSampleConditions.form-control
									option Condition list
									option Condition list

					.modal-body-field.modal-body-field-3
						div
							.form-group.mb-0
								label(for='addNewStrategiesLHS') LHS
								select#addNewStrategiesLHS.form-control
									option Select Keyword
									option Select Keyword
						div
							.form-group.mb-0
								label(for='addNewStrategiesOperator') Operator
								select#addNewStrategiesOperator.form-control
									option Select
									option Select

					.modal-body-field.modal-body-field-1
						div
							.form-group.mb-0
								label(for='addNewStrategiesCondition') Condition
								textarea#addNewStrategiesCondition.form-control

					.modal-body-field.modal-body-field-2
						p A condition is of the format LHS operator RHS.

					button.modal-body-submit.mt-4.d-flex.align-items-center.justify-content-center(type="submit")!= "Add"


// MODAL add new strategies condition :: END
