// MODAL add new strategies formula :: START

#addStrategiesFormula.modal.modal--formula.fade(tabindex='-1', role='dialog', aria-labelledby='AddStrategies', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		form(action="" autocomplete="off").modal-content.pb-5
			.modal-header.justify-content-center.pt-5.pb-3.position-relative
				//h5#AddStrategies.modal-title Deploy Minbass

				a.modal__close.position-absolute(href="#" data-dismiss="modal" aria-label="Close")
					i.icon-font.icon-close

			.modal-body
				.modal-body-cover


// MODAL add new strategies formula :: END
