.subscribers__section.subscribers__broadcast.p-3
	p.subscribers__section-title.pb-4!= "Broadcast Message"

	.subscribers__section-btn.d-flex.justify-content-center.pt-4
		a.c-btn.c-btn--bg(href="#" class="" title="")!= "Send"
