.subscribers__section.subscribers__reversion.p-3

	p.subscribers__section-title.pb-2.text-center!= "Mean reversion"

	.subscribers__reversion-info.text-center.pb-3
		p!= "Fees : Rs.5000 + 20% on profits"
