.subscribers__section.subscribers__total.p-3.d-flex.align-items-center.justify-content-between
	div.pr-2.pr-lg-3
		p!= "<strong>Total P&L :</strong> Rs.0"
	div.pr-2.px-lg-3
		p!= "<strong>Total Subscription Fees :</strong> Rs.8000"
	div.pr-2.pl-lg-3
		p!= "<strong>Total Fees on profit :</strong> Rs.3000 (<a href='#'>Refund</a>)"
