.subscribers__section.subscribers__tabs.px-3.d-flex.align-items-center.justify-content-between
	.d-flex.justify-content-center
		a.position-relative.subscribers__tabs-btn.d-flex.align-items-center.justify-content-center.is-active(href="#" class="" title="")!= "Manage Subscribers"

	span

	.d-flex.justify-content-center
		a.position-relative.subscribers__tabs-btn.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Broadcast Message"

	span

	.d-flex.justify-content-center
		a.position-relative.subscribers__tabs-btn.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Invoicing "

