.subscribers__section.subscribers__self

	.subscribers__self-head.p-3.d-flex.align-items-center.justify-content-between
		div
			p.subscribers__section-title!= "My Subscribers <span>(4)</span>"
		div
		a(href="#" class="" title="")!= "See all"

	.subscribers__self-head.px-3.pb-3

	.subscribers__self-footer.d-flex.align-items-center.justify-content-between.p-3
		.position-relative.pr-3
			p Current Subscribers: 4
		.position-relative.px-3
			p Subscription fees: RS.4000
		.position-relative.px-3
			p Fees on profit: RS.5000 +20%
		.position-relative.pl-3
			p See past reports
