---
title: Tradetron | Dashboard

pageClassName: p-dashboard
---
extends shared/_layout

block header
	include components/_header-login

block content
	div.body.body--start(class!= pageClassName)

		include components/dashboard/_main

block modal
	include components/modal/_modal-buy
	include components/modal/_modal-sell
