---
title: Tradetron | Features

pageClassName: p-features
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/features/_main
		include components/features/_power
		include components/features/_hedge
		include components/features/_trading
		include components/features/_builder
		include components/features/_types

block modal
	include components/modal/_modal-signin
	include components/modal/_modal-signup


