---
title: Tradetron

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/home/_main
		include components/home/_do
		include components/home/_features
		include components/home/_pricing
		include components/home/_partners
		include components/home/_help

block modal
	include components/modal/_modal-signin
	include components/modal/_modal-signup
