---
title: Tradetron | My Strategies

pageClassName: p-my-strategies
---
extends shared/_layout

block header
	include components/_header-login

block content
	div.body.body--start(class!= pageClassName)

		include components/my-strategies/_my-strategies

block modal
