---
title: Tradetron | Pricing

pageClassName: p-pricing
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/pricing/_main
		include components/pricing/_pricing

block modal
	include components/modal/_modal-signin
	include components/modal/_modal-signup

	include components/modal/_modal-pricing-basic
	include components/modal/_modal-pricing-standart
	include components/modal/_modal-pricing-pro
	include components/modal/_modal-pricing-expert
