---
title: Tradetron | Strategy Profile

pageClassName: p-strategy-profile
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/strategy-profile/_strategy-profile

block modal
