// SECTION main :: START

section#main.main.main--features.main--useCases.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")
		img.main__bg-img.main__bg-img-3.img-fluid.d-none.d-md-block.d-lg-none.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")

	.main__wrapper.position-relative

		.container
			.row
				.col

					.main__text-wrapper
						h1.main__title!= "Realise your dream of being a PMS provider."
						p.main__desc.main__desc-0.main__desc--pb!= "As a strategy creator, you have undoubtedly gone through enough loss making trades to realise that haphazard trading makes no money. Then you discovered what works and realised you can do this for multiple people. As you give out your trades to your clients you realise soon enough that they are, for various reasons, unable to manage the trade in the way you had imagined. So you begin by handling their trading account. For a few accounts, this works well, but as the number of accounts increase, it becomes cumbersome to manage different quantities of the same trades in different accounts. And of course, when it’s an SOS exit across all accounts, the slippage in some accounts could go through the roof."
						p.main__desc.main__desc-1!= "Thankfully, we have a solution. Create a strategy with either a set of rules or if the algo trading bug has still not bit you, you can manually add your buy or sell signals and once you add it to your strategy, it will get executed across all brokerage accounts of your subscribers at one go. Regardless of whether there are 3 or 3000 - In different quantities across different brokers. If any account faces any execution issue, our system will immediately alert the user to take quick corrective offline action."

	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")
				img.main__bg-img.main__bg-img-2.img-fluid.d-block.position-absolute(src="img/img-setup-analytics.png" srcset="img/img-setup-analytics@2x.png 2x, img/img-setup-analytics@3x.png 3x" alt="" title="")

// SECTION main :: END
