// SECTION strategy profile :: START

.s-profile {

	.main__wrapper {
		z-index: 1;
		position: relative;
	}

	&__wrapper {
		padding-bottom: 30px;

		&:last-of-type {
			padding-bottom: 0;
		}

		&-1 {
			display: flex;
			@include adaptive(991) {
				flex-wrap: wrap;
			}

			.s-profile__wrapper {
				&-left {
					@include adaptive(991) {
						width: 100%;
						padding-right: 0;
						padding-bottom: 30px;
					}
				}
				&-right {
					> div {
						margin-bottom: 30px;

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		&-3 {
			display: flex;
			@include adaptive(767) {
				flex-wrap: wrap;
			}
		}

		&-left {
			width: 300px;
			padding-right: 30px;
			@include adaptive(767) {
				width: 100%;
				padding-right: 0;
				padding-bottom: 30px;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__section {
		border-radius: 6px;
		background-color: #ffffff;
		box-shadow: 0 1px 20px 0 rgba(17,30,79,0.10);

		&-title {
			font-weight: 600;
			font-size: 20px;
		}
	}

	// description
	&__description {
		&-head {
			display: flex;
			@include adaptive(767) {
				flex-wrap: wrap;
				padding-top: 30px;
			}

			> div {
				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}

				&:nth-of-type(2) {
					width: 180px;
					@include adaptive(767) {
						display: flex;
						width: 100%;

						> div {
							width: 50%;

							&:last-of-type {
								padding-bottom: 30px;
							}
						}
					}
					@include adaptive(374) {
						flex-wrap: wrap;

						> div {
							width: 100%;
						}
					}
				}
			}
		}

		&-rating {
			.icon-font {
				font-size: 15px;
				color: #989898;
				@include transition(opacity);

				&.icon-star-fill {
					color: #ff5980;
				}
			}
		}

		&-profile {
			> div {
				&:nth-of-type(1) {
					width: 105px;
					@include adaptive(767) {
						width: 0;
					}
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 90px;
				height: 90px;
				border-radius: 6px;
				background-color: #eeeeee;

				img {
					@extend %imageResCoverAbs;
				}

				.icon-font {
					color: #cccccc;
					font-size: 40px;
				}
			}

			&-created {
				font-size: 10px;
			}

			&-name {
				font-size: 22px;
				font-weight: bold;

				span {
					padding-left: 15px;
					font-size: 14px;
					font-weight: normal;
				}
			}

			&-by {
				p {
					font-size: 16px;
					line-height: 1.5;

					> a {
						color: #6772e5;
					}
				}

				> div {
					> a {
						width: 22px;
						height: 22px;
						border-radius: 50%;
						background-image: linear-gradient(135deg, #FF5980 0%, #FFA882 100%);

						.icon-font {
							color: #ffffff;
							font-size: 12px;

							&.icon-envelope1 {
								font-size: 10px;
							}
						}
					}
				}
			}

			&-tags {
				a {
					height: 25px;
					border-radius: 12.5px;
					background-color: rgba(#b3c5dc, 0.3);
					font-size: 12px;
					font-weight: 500;
					text-align: center;
					color: #6772e5;
				}
			}
		}

		&-option {
			> div {
				position: relative;
				width: 100%;
				max-width: 50%;

				&:first-of-type {
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 1px;
						height: 100%;
						background-color: #b3c5dc;
					}
				}

				&:last-of-type {
					padding-left: 10px;
				}
			}

			i,
			span {
				color: #B3C5DC;
			}

			i {
				font-size: 21px;
			}

			span {
				padding-left: 5px;
				font-weight: 600;
			}
		}

		&-footer {
			> div {
				position: relative;
				width: 100%;
				max-width: calc(100% / 5);
				padding-left: 30px;
				padding-right: 10px;
				@include adaptive(1199) {
					padding-left: 15px;
				}
				@include adaptive(991) {
					max-width: calc(100% / 4);
					margin-bottom: 40px;
				}
				@include adaptive(767) {
					max-width: calc(100% / 2);
				}

				&:first-of-type {
					padding-left: 0;
				}

				&:nth-of-type(2) {
					@include adaptive(767) {
						&:after {
							display: none;
						}
					}
				}
				&:nth-of-type(3) {
					@include adaptive(767) {
						padding-left: 0;
					}
				}
				&:nth-of-type(4) {
					@include adaptive(991) {
						&:after {
							display: none;
						}
					}
				}

				&:last-of-type {
					@include adaptive(991) {
						padding-left: 0;
						margin-bottom: 0;
					}

					&:after {
						display: none;
					}
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 90%;
					background-color: #EAEAEA;
				}
			}

			span {
				font-size: 16px;
				@include adaptive(575) {
					font-size: 12px;
				}

				i {
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;
					margin-left: 10px;
					border-radius: 50%;
					background-color: #b3c5dc;
					color: #ffffff;
					font-weight: bold;
					font-size: 12px;
				}
			}

			p {
				font-weight: 600;
				font-size: 25px;
				@include adaptive(767) {
					font-size: 23px;
				}
				@include adaptive(575) {
					font-size: 20px;
				}
			}
		}
	}
	// description :: end

	// statistics
	&__statistics {
		min-height: 100%;

		&-head {
			.icon-file-export {
				font-size: 24px;
			}
		}

		&-block {
			> div {
				width: 100%;
				@include adaptive(991) {
					max-width: calc(100% / 5) !important;
				}
				@include adaptive(767) {
					&:nth-of-type(odd) {
						max-width: 55% !important;
						padding-right: 15px;
					}
					&:nth-of-type(even) {
						max-width: 45% !important;
					}
				}

				&:nth-of-type(odd) {
					max-width: 55%;
					padding-right: 15px;
				}
				&:nth-of-type(even) {
					max-width: 45%;
				}
			}

			span {
				font-size: 13px;
			}

			p {
				font-weight: 600;
			}
		}
	}
	// statistics :: end

	// followers
	&__followers {
		&-head {
			a {
				font-size: 18px;
				text-align: center;
			}
		}

		.swiper {
			&-container {
				@include adaptive(767) {
					width: calc(100% + 2rem);
					padding-bottom: 30px;
					margin-left: -1rem;
					padding-left: 15px;
				}
			}

			&-wrapper {
				@include respond(medium) {
					display: flex;

					> div {
						width: 100%;
						max-width: calc(100% / 5);
					}
				}
			}

			&-slide {
				@include adaptive(767) {
					width: 135px;
				}
			}

			&-pagination {
				display: none;
				@include adaptive(767) {
					display: flex;
				}
			}
		}

		&-block {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-img {
				overflow: hidden;
				position: relative;
				width: 95px;
				height: 95px;
				border-radius: 50%;

				img {
					@extend %imageResCoverAbs;
				}
			}

			p {
				font-size: 15px;
				text-align: center;
			}
		}
	}
	// followers :: end

	// visited
	&__visited {
		.swiper {
			&-container {
				@include adaptive(767) {
					width: calc(100% + 2rem);
					padding-bottom: 30px;
					margin-left: -1rem;
					padding-left: 15px;
				}
			}

			&-wrapper {
				@include respond(medium) {
					display: flex;

					> div {
						width: 100%;
						max-width: calc(100% / 5);
					}
				}
			}

			&-slide {
				@include adaptive(767) {
					width: 135px;
				}
			}

			&-pagination {
				display: none;
				@include adaptive(767) {
					display: flex;
				}
			}
		}

		&-block {
			padding-right: 50px;

			p {
				font-weight: bold;
				font-size: 16px;
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 90px;
				height: 90px;
				border-radius: 6px;
				background-color: #eeeeee;

				img {
					@extend %imageResCoverAbs;
				}

				.icon-font {
					color: #cccccc;
					font-size: 40px;
				}
			}

			&-rating {
				.icon-font {
					font-size: 15px;
					color: #989898;
					@include transition(opacity);

					&.icon-star-fill {
						color: #ff5980;
					}
				}
			}
		}
	}
	// visited :: end

	// history
	&__history {
		table {
			thead {
				th {
					border-width: 0;
					@include adaptive(767) {
						white-space: nowrap;
					}
				}
			}

			th,
			td {
				vertical-align: middle;
			}

			th {
				font-weight: bold;
				letter-spacing: 0.27px;
			}
		}
	}
	// history :: end

	// rating
	&__rating {
		&-star {
			> div {
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			span {
				font-size: 14px;
			}

			.icon-font {
				font-size: 26px;
				color: #989898;
				@include transition(opacity);

				&.icon-star-fill {
					color: #ff5980;
				}
			}
		}

		&-progress {
			span {
				overflow: hidden;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				position: relative;
				background-color: rgba(#D8D8D8, 0.52);
				border-radius: 8px;
				height: 5px;

				i {
					position: absolute;
					top: 0;
					left: 0;
					height: 5px;
					background: #6772E5;
					border-radius: 8px;
				}
			}

			p {
				width: 30px;
				font-size: 14px;
			}
		}
	}
	// rating :: end

	// feedback
	&__feedback {
		.strategy__filter-rating {
			.icon-font {
				font-size: 26px;
			}
		}

		&-form {
			textarea {
				resize: none;
				outline: none;
				position: relative;
				width: 100%;
				min-height: 80px;
				background: #FFFFFF;
				border: 1px solid rgba(185,185,185,0.30);
				border-radius: 6px;
				font-size: 14px;
				letter-spacing: 0.09px;
				@include inputPlaceholder {
					font-size: 14px;
					color: rgba(#333333, 0.54);
					letter-spacing: 0.09px;
				}
			}

			button {
				max-width: 180px;
				margin-left: auto;
				margin-right: auto;
			}

			hr {
				height: 1px;
				border: none;
				background-color: #eaeaea;
			}
		}

		&-comment {
			border-bottom: 1px solid #eaeaea;

			&:last-of-type {
				border: none;
			}

			> div {
				&:nth-of-type(1) {
					width: 60px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 50px;
				height: 50px;
				border-radius: 50%;

				img {
					@extend %imageResCoverAbs;
				}
			}

			p {
				font-weight: 500;
				font-size: 16px;
				letter-spacing: 0.5px;
			}

			i {
				font-style: normal;
				font-size: 14px;
				letter-spacing: 0.44px;
			}

			span {
				font-size: 15px;
				color: rgba(#333333, 0.8);
				letter-spacing: 0.47px;
			}
		}
	}
	// feedback :: end
}

// SECTION strategy profile :: END
