// SECTION strategy profile :: START

.s-profile {

	.main__wrapper {
		z-index: 1;
		position: relative;
	}

	&__wrapper {
		padding-bottom: 30px;

		&:last-of-type {
			padding-bottom: 0;
		}

		&-0 {}
		&-1 {
			display: flex;

			.s-profile__wrapper-right {
				> div {
					margin-bottom: 30px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
		&-2 {}
		&-3 {
			display: flex;
		}

		&-left {
			width: 300px;
			padding-right: 30px;
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__section {
		border-radius: 6px;
		background-color: #ffffff;
		box-shadow: 0 1px 20px 0 rgba(17,30,79,0.10);

		&-title {
			font-weight: 600;
			font-size: 20px;
		}
	}

	// description
	&__description {}
	// description :: end

	// statistics
	&__statistics {
		min-height: 100%;

		&-head {
			.icon-file-export {
				font-size: 24px;
			}
		}

		&-block {
			> div {
				width: 100%;

				&:nth-of-type(odd) {
					max-width: 55%;
					padding-right: 15px;
				}
				&:nth-of-type(even) {
					max-width: 45%;
				}
			}

			span {
				font-size: 13px;
			}

			p {
				font-weight: 600;
			}
		}
	}
	// statistics :: end

	// followers
	&__followers {
		&-head {
			a {
				font-size: 18px;
				text-align: center;
			}
		}

		&-block {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-wrapper {
				display: flex;

				> div {
					width: 100%;
					max-width: calc(100% / 5);
				}
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 95px;
				height: 95px;
				border-radius: 50%;

				img {
					@extend %imageResCoverAbs;
				}
			}

			p {
				font-size: 15px;
				text-align: center;
			}
		}
	}
	// followers :: end

	// visited
	&__visited {
		&-block {
			padding-right: 50px;

			&-wrapper {
				display: flex;

				> div {
					width: 100%;
					max-width: calc(100% / 5);
				}
			}

			p {
				font-weight: bold;
				font-size: 16px;
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 90px;
				height: 90px;
				border-radius: 6px;
				background-color: #eeeeee;

				img {
					@extend %imageResCoverAbs;
				}

				.icon-font {
					color: #cccccc;
					font-size: 40px;
				}
			}

			&-rating {
				.icon-font {
					font-size: 15px;
					color: #989898;
					@include transition(opacity);

					&.icon-star-fill {
						color: #ff5980;
					}
				}
			}
		}
	}
	// visited :: end

	// history
	&__history {
		table {
			thead {
				th {
					border-width: 0;
				}
			}

			th,
			td {
				vertical-align: middle;
			}

			th {
				font-weight: bold;
				letter-spacing: 0.27px;
			}
		}
	}
	// history :: end

	// rating
	&__rating {
		&-star {
			> div {
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			span {
				font-size: 14px;
			}

			.icon-font {
				font-size: 26px;
				color: #989898;
				@include transition(opacity);

				&.icon-star-fill {
					color: #ff5980;
				}
			}
		}

		&-progress {
			span {
				overflow: hidden;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				position: relative;
				background-color: rgba(#D8D8D8, 0.52);
				border-radius: 8px;
				height: 5px;

				i {
					position: absolute;
					top: 0;
					left: 0;
					height: 5px;
					background: #6772E5;
					border-radius: 8px;
				}
			}

			p {
				width: 30px;
				font-size: 14px;
			}
		}
	}
	// rating :: end

	// feedback
	&__feedback {
		.strategy__filter-rating {
			.icon-font {
				font-size: 26px;
			}
		}

		&-form {
			textarea {
				resize: none;
				outline: none;
				position: relative;
				width: 100%;
				min-height: 80px;
				background: #FFFFFF;
				border: 1px solid rgba(185,185,185,0.30);
				border-radius: 6px;
				font-size: 14px;
				letter-spacing: 0.09px;
				@include inputPlaceholder {
					font-size: 14px;
					color: rgba(#333333, 0.54);
					letter-spacing: 0.09px;
				}
			}

			button {
				max-width: 180px;
				margin-left: auto;
				margin-right: auto;
			}

			hr {
				height: 1px;
				border: none;
				background-color: #eaeaea;
			}
		}

		&-comment {
			border-bottom: 1px solid #eaeaea;

			&:last-of-type {
				border: none;
			}

			> div {
				&:nth-of-type(1) {
					width: 60px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			&-img {
				overflow: hidden;
				position: relative;
				width: 50px;
				height: 50px;
				border-radius: 50%;

				img {
					@extend %imageResCoverAbs;
				}
			}

			p {
				font-weight: 500;
				font-size: 16px;
				letter-spacing: 0.5px;
			}

			i {
				font-style: normal;
				font-size: 14px;
				letter-spacing: 0.44px;
			}

			span {
				font-size: 15px;
				color: rgba(#333333, 0.8);
				letter-spacing: 0.47px;
			}
		}
	}
	// feedback :: end
}

// SECTION strategy profile :: END
