// SECTION builder :: START

.builder {
	overflow: hidden;
	position: relative;
	padding-top: 110px;
	padding-bottom: 110px;

	&__bg {
		top: 0;
		left: 0;

		&-img {
			height: 110px;
			background-repeat: repeat-x;
			background-position: top left;

			&--top {
				top: 0;
				left: 0;
				background-image: url("../img/img-features-bg-top.png");
			}

			&--bottom {
				bottom: 0;
				left: 0;
				background-image: url("../img/img-features-bg-bottom.png");
			}
		}
	}

	&__wrapper {
		background-color: #f5f9fe;

		&-0 {
			padding-bottom: 28px;
		}

		&-1 {
			padding-bottom: 50px;
		}

		&-2 {
			.builder__list {
				padding-top: 10px;
			}
		}

		.container {
			position: relative;
			top: -50px;
		}
	}

	&__subtitle {
		padding-bottom: 12px;
	}

	&__desc {

		strong,
		&-title {
			font-weight: bold;
		}
	}

	&__list {
		padding-left: 1rem;

		&-item {
			list-style-type: disc;
		}
	}
}

// SECTION builder :: END
