// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: unset;
$bth-height: 40px;
$btn-border-width: 1px;
$btn-border-color: rgba(#6772e5, 1);
$bth-border-radius: 6px;
$bth-box-shadow: none;
$bth-background-color: rgba(#6772e5, 1);
$bth-color: rgba(#fff, 1);
$bth-font-size: 14px;
$bth-font-weight: bold;

$btn-color--border: rgba(#6772e5, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
	min-width: 110px;
  //max-width: $bth-width;
  height: $bth-height;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  font-size: $bth-font-size;
  font-weight: $bth-font-weight;
	letter-spacing: 0.4px;

  &--border {
    background-color: transparent;
    color: $btn-color--border;
		@include transition(background-color, color);

		&:hover {
			background-color: $bth-background-color;
			color: #ffffff;
			@include transition(background-color, color);
		}
  }

  &--bg {
    background-color: $bth-background-color;
		@include transition(background-color, color, border-color);

		&:hover {
			color: $bth-background-color;
			background-color: transparent;
			@include transition(border-color, background-color, color);
		}

		&:focus {
			background-color: $bth-background-color;
			color: $bth-color;
		}
  }
}

// BUTTON :: END
