// SECTION subscribers :: START

.subscribers {
	padding-top: 120px;
	padding-bottom: 120px;

	.main__bg {
		z-index: -1;

		&-1 {
			@include adaptive(767) {
				position: absolute !important;
				top: 15%;
			}
		}
	}

	.main__wrapper {
		z-index: 2;
		position: relative;
	}

	&__section {
		margin-bottom: 20px;
		border-radius: 6px;
		box-shadow: 0 1px 20px 0 rgba(17, 30, 79, 0.1);
		background-color: #ffffff;

		&-title {
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 0.47px;
			@include adaptive(767) {
				font-size: 18px;
			}

			span {
				font-weight: normal;
			}
		}

		&-btn {
			a {
				width: 100%;
				max-width: 177px;
				height: 40px;
			}
		}
	}

	// tabs
	&__tabs {
		height: 56px;
		@include adaptive(575) {
			overflow-x: auto;
			white-space: nowrap;
			position: relative;
			left: -15px;
			width: calc(100% + 30px);
			display: block !important;
			border-radius: 0;
		}

		> div,
		> span {
			height: 100%;
			text-align: center;
			@include adaptive(575) {
				display: inline-block !important;
				vertical-align: middle;
				max-width: 200px !important;
			}
		}

		> div {
			width: 100%;
			max-width: calc((100% - 60px) / 3);
		}

		> span {
			position: relative;
			width: 30px;
			height: calc(100% - 2rem);

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 1px;
				height: 100%;
				background-color: #979797;
			}
		}

		&-btn {
			overflow: hidden;
			height: 100%;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.47px;
			text-align: center;
			@include adaptive(575) {
				justify-content: center;
			}

			&.is-active {
				color: #6772e5;

				&:after {
					opacity: 1;
					@include transition(opacity);
				}
			}

			&:after {
				opacity: 0;
				content: '';
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 2px;
				border: solid 1px #6772e5;
				background-color: #d8d8d8;
				@include transition(opacity);
			}
		}
	}
	// tabs :: end

	// self
	&__self {
		&-head {
			a {
				font-size: 18px;
				letter-spacing: 0.43px;
				@include adaptive(767) {
					font-size: 16px;
				}
			}
		}

		.swiper {
			&-container {
				@include adaptive(991) {
					padding-bottom: 50px;
				}
			}

			&-wrapper {
				@include respond(large) {
					flex-wrap: wrap;
				}
			}

			&-slide {
				@include respond(large) {
					width: 205px;
				}
				@include adaptive(991) {
					width: 205px !important;
				}

				&:last-of-type {
					.subscribers__self-block {
						border: none;
					}
				}
			}

			&-pagination {
				display: none;
				@include adaptive(991) {
					display: flex;
				}
			}
		}

		&-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-right: 1px solid #dee2e6;

			&-img {
				overflow: hidden;
				position: relative;
				width: 95px;
				height: 95px;
				border-radius: 50%;
				margin-bottom: 10px;

				img {
					@extend %imageResCoverAbs;
				}
			}

			&-name {
				padding-bottom: 10px;
				font-size: 18px;
				font-weight: bold;
				letter-spacing: normal;
				text-align: center;
			}

			&-social {
				display: flex;
				justify-content: center;

				> a {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					margin-left: 3px;
					margin-right: 3px;
					background-image: linear-gradient(135deg, #FF5980 0%, #FFA882 100%);
				}

				.icon-font {
					color: #ffffff;
				}
			}
		}

		&-footer {
			min-height: 71px;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			background-color: #6772e5;
			@include adaptive(991) {
				align-items: flex-start !important;
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 4);
				text-align: center;
				@include adaptive(991) {
					max-width: calc(100% / 2);
					text-align: left;

					&:nth-of-type(1),
					&:nth-of-type(2) {
						margin-bottom: 10px;
					}

					&:nth-of-type(3),
					&:nth-of-type(4) {
						margin-top: 10px;
					}

					&:nth-of-type(2) {
						&:after {
							display: none;
						}
					}

					&:nth-of-type(3) {
						text-align: left;
						padding-left: 0 !important;
					}
				}

				&:first-of-type {
					text-align: left;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: calc(100%);
					background-color: #ffffff;
				}
			}

			p,
			a {
				letter-spacing: 0.27px;
				color: #ffffff;
			}

			a {
				text-decoration: underline;

				&:hover {
					color: #ffffff;
				}
			}
		}
	}
	// self :: end

	// reversion
	&__reversion {
		&-info {
			font-size: 16px;
			letter-spacing: 0.38px;
		}

		table {
			.nowrap {
				white-space: nowrap;
			}

			thead,
			tbody {
				th,
				td {
					border-right: 1px solid #dee2e6;
					&:last-of-type {
						border-right: none;
					}

					@include adaptive(767) {
						min-width: 150px;
					}

					&:first-of-type {
						padding-left: 0;
					}
				}
			}

			thead {
				th {
					border-bottom-width: 1px;
					font-size: 14px;
					font-weight: bold;
				}
			}

			tbody {
				tr {
					&:last-of-type {
						td {
							border-right: none;
						}
					}
				}

				td {
					p {
						span {
							font-weight: 500;
						}
					}

					table {
						thead,
						tbody {
							th,
							td {
								padding: 0.25rem 0.5rem;
								border: none;

								@include adaptive(767) {
									min-width: 90px;
								}
							}
						}

						thead {
							th {
								border-top: none;
								border-bottom: none;
							}
						}

						tbody {
							tr {
								&:last-of-type {
									td {
										border-bottom: none;
									}
								}
							}

							td {
								border-top: none;
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	// reversion :: end

	// midbass
	&__midbass {
		&-info {
			font-size: 16px;
			letter-spacing: 0.38px;
		}

		table {
			.nowrap {
				white-space: nowrap;
			}

			thead,
			tbody {
				th,
				td {
					border-right: 1px solid #dee2e6;

					&:last-of-type {
						border-right: none;
					}

					@include adaptive(767) {
						min-width: 150px;
					}

					&:first-of-type {
						padding-left: 0;
					}
				}
			}

			thead {
				th {
					border-bottom-width: 1px;
					font-size: 14px;
					font-weight: bold;
				}
			}

			tbody {
				tr {
					&:last-of-type {
						td {
							border-right: none;
						}
					}
				}

				td {
					p {
						span {
							font-weight: 500;
						}
					}

					table {
						thead,
						tbody {
							th,
							td {
								padding: 0.25rem 0.5rem;
								border: none;

								@include adaptive(767) {
									min-width: 90px;
								}
							}
						}

						thead {
							th {
								border-top: none;
								border-bottom: none;
							}
						}

						tbody {
							tr {
								&:last-of-type {
									td {
										border-bottom: none;
									}
								}
							}

							td {
								border-top: none;
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	// midbass :: end

	// total
	&__total {
		@include adaptive(991) {
			flex-wrap: wrap;
		}

		> div {
			width: 100%;
			max-width: calc(100% / 3);
			@include adaptive(991) {
				max-width: 100%;
				padding-left: 0 !important;
				padding-bottom: 10px;

				&:last-of-type {
					padding-bottom: 0;
				}
			}
		}

		p {
			a {
				color: #6772e5;
			}
		}
	}
	// total :: end

	// broadcast
	&__broadcast {
		&-wrapper {
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			&-left {
				width: 280px;
				padding-right: 30px;
				@include adaptive(767) {
					width: 100%;
					padding-right: 0;
					padding-bottom: 30px;
				}
			}

			&-right {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			.dropdown {
				width: 100%;

				&-toggle {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 40px;
					box-shadow: none;
					border-radius: 6px;
					border: solid 1px rgba(185, 185, 185, 0.3);
					background-color: #ffffff;

					&:focus {
						box-shadow: none;
						border-color: rgba(185, 185, 185, 0.3);
					}
				}

				&-menu {
					width: 100%;

					input {
						height: auto;
					}

					label {
						position: relative;
						top: 2px;
						letter-spacing: 0.27px;
						font-weight: normal;
					}
				}
			}

			textarea {
				resize: none;
				min-height: 136px;
				letter-spacing: 0.09px;
				@include inputPlaceholder {
					color: rgba(#333333, 0.54);
				}
			}
		}

		&-attach {
			cursor: pointer;
			width: 100%;
			min-height: 80px;
			border-radius: 6px;
			border: 1px dashed #B0C4E0;

			input {
				cursor: pointer;
				z-index: 10;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			p {
				cursor: pointer;
				color: #b0c4e0;
			}

			.icon-font {
				font-size: 16px;
			}
		}
	}
	// broadcast :: end

	// invoicing
	&__invoicing {
		&-info {
			p {
				font-size: 16px;
				letter-spacing: 0.38px;
			}
		}

		table {
			.nowrap {
				white-space: nowrap;
			}

			thead,
			tbody {
				th,
				td {
					@include adaptive(767) {
						min-width: 150px;
					}

					&:first-of-type {
						padding-left: 0;
					}
				}
			}

			thead {
				th {
					vertical-align: top;
					border-top: none;
					border-bottom-width: 1px;
					font-size: 14px;
					font-weight: bold;
				}
			}

			tbody {
				tr {
					&:last-of-type {
						td {
							border-bottom: 1px solid #dee2e6;
						}
					}

				}

				td {
					font-size: 16px;
				}
			}
		}
	}
	// invoicing :: end
}

// SECTION subscribers :: END
