// SECTION strategy tabs :: START

.strategy__section.strategy__tabs.mb-4
	div
		a.strategy__tabs-btn.is-active(href="#" class="" title="")!= "Deployed"
	div
		a.strategy__tabs-btn(href="#" class="" title="")!= "My Strategies"
	div
		a.strategy__tabs-btn(href="#" class="" title="")!= "Marketplace"

// SECTION strategy tabs :: END
