// SECTION account profile subscriptions :: START

.a-profile__section.d-flex.flex-column.p-3.a-profile__subscriptions
	.a-profile__section-head
	.a-profile__section-body

// SECTION account profile subscriptions :: END
