// SECTION account profile coupons :: START

.a-profile__section.d-flex.flex-column.p-3.a-profile__coupons
	.a-profile__section-head
	.a-profile__section-body

// SECTION account profile coupons :: END
