// SECTION account profile changePassword :: START

.a-profile__section.d-flex.flex-column.px-3.pb-3.a-profile__changePassword

	.a-profile__section-head
		p.a-profile__section-title!= "Change Password"

	.a-profile__section-body.pt-5.pb-4

		form.a-profile__changePassword-form(action='' autocomplete='off')
			.a-profile__changePassword-form-group
				div
					.form-group.mb-5
						label(for= "aProfile__passOld")!= "Old Password"
						input(type="email" class="form-control" name="aProfile__passOld" id='aProfile__passOld')
				div
					.form-group.mb-5
						label(for= "aProfile__passNew")!= "New Password"
						input(type="email" class="form-control" name="aProfile__passNew" id='aProfile__passNew')

			div.a-profile__section-btn-wrapper
				button.a-profile__section-btn.c-btn.c-btn--bg(type="submit")!= "Update"

// SECTION account profile changePassword :: END
