// SECTION account profile notifications :: START

.a-profile__section.d-flex.flex-column.p-3.a-profile__notifications
	.a-profile__section-head
	.a-profile__section-body

// SECTION account profile notifications :: END
