// SECTION main :: START

section#main.main.main--pricing.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.main__wrapper.position-relative

		.container
			.row
				.col

					h1.main__title!= "Pricing"
					p.main__desc!= "Digital technology, artificial intelligence, and automation is the way the world is headed. And we believe stock trading and investments is no different. Our unique pricing plans are aimed at ensuring Tradetron is the most accessible algorithmic trading software in the market."

// SECTION main :: END
