// SECTION broker :: START

section#broker.broker.position-relative

	.broker__bg.position-absolute.w-100.h-100
		img(src="img/img-do-bg.png" srcset="img/img-do-bg@2x.png 2x, img/img-do-bg@3x.png 3x" alt="" title="")

	.broker__bg.position-absolute.w-100.h-100

	.broker__wrapper

		.container
			.row
				.col

					h2.broker__title.c-subtitle.text-center!= "Here’s how we do it.<br>With a little broker from 3 bots and a message broker."

		.container
			.row
				.col

					img.d-block.img-fluid.ml-auto.mr-auto(src="img/3-bot-scheme.png" srcset="img/3-bot-scheme@2x.png 2x, img/3-bot-scheme@3x.png 3x" alt="" title="")

		.container
			.row
				.col

					p.broker__text.c-text!= "Independent parts, working across servers and hosted on the cloud (Digital Ocean) to reduce the chances of a bottleneck caused due to an unforeseen situation in any one area of operation. Tick by tick data is streamed and stored in InfluxData, a super reliable and scalable database app built keeping in mind streaming data and ability to handle billions of records in a minute. All this, so you can perform strategy management in an efficient, foolproof, failproof manner."

// SECTION broker :: END
