// SECTION  condition :: START

mixin conditionBlock(classMod, iconName, title, txt)
	.card.swiper-slide(class!= 'card-' + classMod)
		.card-img.d-flex.align-items-center.justify-content-center
			i.icon-font.position-relative(class!= 'icon-' + iconName)

		.card-body.p-0
			h5.card-title!= title

			.card-line

			p.card-text!= txt

section#condition.condition.position-relative

	.help__bg.position-absolute.w-100.h-100.d-flex.justify-content-end.align-items-start
		img(src="img/img-help-bg-1.png" srcset="img/img-help-bg-1@2x.png 2x, img/img-help-bg-1@3x.png 3x" alt="" title="")

	.condition__wrapper.condition__wrapper-0

		.container
			.row
				.col
					h2.condition__title.c-subtitle.text-center!= "Keywords"
					p.condition__text.c-text.text-center!= "Keywords are the building blocks of algo trading. With them you can make conditions that vary from simple (a=1 and b=2) to multi layered ones (a=1 and (b=2 or b=3)). Now instead of going through the cumbersome process of coding keywords yourself, we offer you a wide gamut of readymade keywords. Convenient and incredibly quick. Use a powerful web based drag and drop interface to build complex conditions in a jiffy .. without writing a single line of code."

	.condition__wrapper.condition__wrapper-1

		.container
			.row
				.col

					.condition__carousel
						mixin swiperContent()
							+conditionBlock('0', 'money', 'PriceData', 'LTP, BidPrice, AskPrice, BidQty, AskQty, BidAskDifference, Open, High, Low, Close, Volume, Change, Change%, LastTradedQty, AvgPrice, TotalQty, OpenInterest')
							+conditionBlock('1', 'calendar', 'DateTime', 'Year, Month, Day, Hour, Min, Sec, YearDay, WeekDay, Week, Date, Now, Today, Tomorrow, Time, LastTradeTime, CurrExpiry, CurrWeekExpiry')
							+conditionBlock('2', 'star', 'Event', 'Event (Corporate results, Central Bank Policy, Important political events), Holiday')
							+conditionBlock('3', 'controls', 'Technical', 'SMA, EMA, WMA, ParabolicSAR, UpperBolinger, LowerBolinger, RSI, MACD, SuperTrend, Williams%R, ADX, TrueRange, ATR , AroonUp, AroonDown, CommodityChannelIndex, DonchainChannelUpper, DonchainChannelLower, DonchainChannelWidth')
							+conditionBlock('4', 'photos', 'OptionGreeks', 'Delta, Gamma, Theta, Vega, IV, HV, IVRank, IVPercentile')
							+conditionBlock('5', 'stopwatch', 'RuntimeVariables', 'LastRepairedUnderlyingPrice, LastRepairedInstrumentPrice, TrailingStopLossTriggered, TrailingStopLossAtProfit, TrailingStopLoss, EntryDate, EntryTime, EntryValue, EntryATMStrike, EntryDelta, EntryVega, EntryTheta, EntryGamma, EntryRho, EntryIV, EntryIVRank, EntryIVPercentile')
							+conditionBlock('6', 'information', 'StrategyInfo', 'ElapsedDays, CountLots, CountPositions, Margin, Brokerage, PNL, PNL%, Drawdown, Drawdown%, MaxDrawdownPeriod')
							+conditionBlock('7', 'calculator', 'Maths', 'Sqrt, Min, Max, Round, Abs, Ceil, Floor')
							+conditionBlock('8', 'file-2', 'Statistics', 'StdDev, Corel, Count, Avg, Mode, Zscore, Log, Kurt, PercentRank, Slope, Trend, Confidence, Prob, Covar, Sine, Cosine, Tangent, Skew, VAR, VARP, NormalDist, PoissonDist, LogNormal, Beta, Regression')
							+conditionBlock('9', 'diagram', 'FX_Rates', 'USDINR_Rate, EURINR_Rate, GBPINR_Rate, USDGBP_Rate')

						+swiper('swiper-container-condition', 'swiperContent', true, false, false)

// SECTION  condition :: END
