// SECTION infographic :: START

section#infographic.infographic.infographic--user
	.infographic__wrapper

		.container
			.row
				.col

					img.d-block.img-fluid.ml-auto.mr-auto(src="img/infographic-1.png" srcset="img/infographic-1@2x.png 2x, img/infographic-1@3x.png 3x" alt="" title="")

// SECTION infographic :: END
