// SECTION main :: START

section#main.main.main--features.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.main__wrapper.position-relative

		.container
			.row
				.col

					.main__text-wrapper
						h1.main__title!= "Features"
						h2.main__subtitle!= "Trading Engine"
						p.main__desc!= "You set the conditions in your strategy and leave the rest to us. We will check them constantly (as soon as a new price tick arrives for any instrument in your strategy) and once any conditions (Entry / Repair / Exit) are satisfied, the trades are taken. Thanks to our trading engine, all of this can be handled with ease and you will never again worry about missing an opportunity. A state of the art distributed architecture which can span multiple servers all hosted on the cloud is at work to see that your strategy is given all the attention it deserves. Every strategy has a dedicated bot working on it so even if the system has 1 strategy to take care or 1 million, the architecture which automatically scales the servers based on the load at hand, takes care that there is no latency issue your strategy faces."

	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")
				img.main__bg-img.main__bg-img-2.img-fluid.d-block.position-absolute(src="img/img-main-macbook-1.png" srcset="img/img-main-macbook-1@2x.png 2x, img/img-main-macbook-1@3x.png 3x" alt="" title="")
				img.main__bg-img.main__bg-img-4.img-fluid.position-absolute(src="img/img-main-macbook-1-mobile.png" srcset="img/img-main-macbook-1-mobile@2x.png 2x, img/img-main-macbook-1-mobile@3x.png 3x" alt="" title="")

// SECTION main :: END
