// SECTION _strategy :: START

section#strategy.strategy
	.strategy__wrapper

		.container
			.row
				.col

					h2.strategy__title.c-subtitle!= "Strategy Building Wizard"
					p.strategy__text.c-text!= "What if we told you that you could build a wide gamut of strategies and algorithms without ever having to write any code? What if you could sell what you build to other brokers, traders and investors? With Tradetron, trading will be better and faster - better executions, faster real-time trading strategies. And did we mention that we are 100% cloud-based? No downloads. No data stream. Just simple cutting-edge accessibility to follow your portfolio from anywhere in the world."

	.strategy__wrapper
		.container
			.row
				.col

					img.d-none.d-md-block.img-fluid.ml-auto.mr-auto(src="img/infographic-2.png" srcset="img/infographic-2@2x.png, img/infographic-2@3x.png" alt="" title="")
					img.d-block.d-md-none.img-fluid.ml-auto.mr-auto(src="img/infographic-2-mobile.png" srcset="img/infographic-2-mobile@2x.png, img/infographic-2-mobile@3x.png" alt="" title="")

// SECTION _strategy :: END
