// SECTION types :: START

section#types.types

	.types__bg.position-absolute.w-100.h-100
		img.d-block.img-fluid(src="img/img-types-bg.png" srcset="img/img-types-bg@2x.png 2x, img/img-types-bg@3x.png 3x" alt="" title="")

	.types__wrapper.types__wrapper-0
		.container
			.row
				.col

					h2.types__title.c-subtitle.text-center!= "Multiple Execution Types"
					p.types__text.w-100.ml-auto.mr-auto.text-center!= "Whatever your strategy, there are only four ways to execute it. All of which are at your disposal on Tradetron."

	.types__wrapper.types__wrapper-1
		.container
			.row
				.col-12.col-lg-6.pb-4

					.card
						.card-body
							p.card__title Paper Tradign
							.card__line
							p.card__text A paper trade is simulated trading which allows investors to buy and sell securities without risking real money. We offer you just that with Tradetron.

				.col-12.col-lg-6.pb-4

					.card
						.card-body
							p.card__title Live – Offline execution
							.card__line
							p.card__text Assume your broker is not algo enabled. No worries. Once the strategy is ready to take a trade we will reach out to you or your broker using a wide gamut of communication methods (whatsapp, email, SMS, voice call). And then leave the rest to you and broker to take forward in whatever manner you are comfortable with.

				.col-12.col-lg-6.pb-4

					.card
						.card-body
							p.card__title!= "Live – Auto execution with one click <br>confirmation"
							.card__line
							p.card__text If you do have a broker who is algo enabled, strategy execution is fairly simple. Assuming your broker uses a Tradetron compatible order management algo software, just link your account with to execute the trades in your strategies automatically. Of course, you are in control every step of the way and can choose to execute these trades only after you give a one-click confirmation. As per your communication preference, you will be notified.

				.col-12.col-lg-6.pb-4

					.card
						.card-body
							p.card__title Live – Fully Auto
							.card__line
							p.card__text Pretty much the same as a one-click confirmation. With one major exception. Your strategy will be executed automatically without seeking any confirmation from you.



// SECTION types :: END
