@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == agenda {
		$char: "\E001";
	}
	@if $filename == alert {
		$char: "\E002";
	}
	@if $filename == analytics {
		$char: "\E003";
	}
	@if $filename == arrow {
		$char: "\E004";
	}
	@if $filename == bar-chart {
		$char: "\E005";
	}
	@if $filename == bell {
		$char: "\E006";
	}
	@if $filename == calculator {
		$char: "\E007";
	}
	@if $filename == calendar {
		$char: "\E008";
	}
	@if $filename == cancel {
		$char: "\E009";
	}
	@if $filename == chart {
		$char: "\E00A";
	}
	@if $filename == check {
		$char: "\E00B";
	}
	@if $filename == checklist {
		$char: "\E00C";
	}
	@if $filename == chip {
		$char: "\E00D";
	}
	@if $filename == clock {
		$char: "\E00E";
	}
	@if $filename == close {
		$char: "\E00F";
	}
	@if $filename == comment {
		$char: "\E010";
	}
	@if $filename == controls {
		$char: "\E011";
	}
	@if $filename == copy {
		$char: "\E012";
	}
	@if $filename == corner {
		$char: "\E013";
	}
	@if $filename == cvs {
		$char: "\E014";
	}
	@if $filename == deadline {
		$char: "\E015";
	}
	@if $filename == desktop {
		$char: "\E016";
	}
	@if $filename == diagram {
		$char: "\E017";
	}
	@if $filename == duplicate {
		$char: "\E018";
	}
	@if $filename == edit {
		$char: "\E019";
	}
	@if $filename == email {
		$char: "\E01A";
	}
	@if $filename == envelope {
		$char: "\E01B";
	}
	@if $filename == envelope1 {
		$char: "\E01C";
	}
	@if $filename == facebook {
		$char: "\E01D";
	}
	@if $filename == favorites {
		$char: "\E01E";
	}
	@if $filename == file-2 {
		$char: "\E01F";
	}
	@if $filename == file {
		$char: "\E020";
	}
	@if $filename == filter {
		$char: "\E021";
	}
	@if $filename == garbage {
		$char: "\E022";
	}
	@if $filename == google-plus {
		$char: "\E023";
	}
	@if $filename == graphene {
		$char: "\E024";
	}
	@if $filename == hand {
		$char: "\E025";
	}
	@if $filename == heart-fill {
		$char: "\E026";
	}
	@if $filename == heart {
		$char: "\E027";
	}
	@if $filename == id-card {
		$char: "\E028";
	}
	@if $filename == idea {
		$char: "\E029";
	}
	@if $filename == information {
		$char: "\E02A";
	}
	@if $filename == innovation {
		$char: "\E02B";
	}
	@if $filename == internet {
		$char: "\E02C";
	}
	@if $filename == key {
		$char: "\E02D";
	}
	@if $filename == layers {
		$char: "\E02E";
	}
	@if $filename == line-chart {
		$char: "\E02F";
	}
	@if $filename == link {
		$char: "\E030";
	}
	@if $filename == linkedin {
		$char: "\E031";
	}
	@if $filename == maze {
		$char: "\E032";
	}
	@if $filename == money {
		$char: "\E033";
	}
	@if $filename == more {
		$char: "\E034";
	}
	@if $filename == photo-camera {
		$char: "\E035";
	}
	@if $filename == photos {
		$char: "\E036";
	}
	@if $filename == plus {
		$char: "\E037";
	}
	@if $filename == puzzle {
		$char: "\E038";
	}
	@if $filename == safebox {
		$char: "\E039";
	}
	@if $filename == search {
		$char: "\E03A";
	}
	@if $filename == settings {
		$char: "\E03B";
	}
	@if $filename == share {
		$char: "\E03C";
	}
	@if $filename == shield {
		$char: "\E03D";
	}
	@if $filename == signin {
		$char: "\E03E";
	}
	@if $filename == smartphone {
		$char: "\E03F";
	}
	@if $filename == star-fill {
		$char: "\E040";
	}
	@if $filename == star {
		$char: "\E041";
	}
	@if $filename == stop {
		$char: "\E042";
	}
	@if $filename == stopwatch {
		$char: "\E043";
	}
	@if $filename == success {
		$char: "\E044";
	}
	@if $filename == twitter {
		$char: "\E045";
	}
	@if $filename == upload {
		$char: "\E046";
	}
	@if $filename == user-profile {
		$char: "\E047";
	}
	@if $filename == user {
		$char: "\E048";
	}
	@if $filename == users {
		$char: "\E049";
	}
	@if $filename == wallet {
		$char: "\E04A";
	}
	@if $filename == workflow {
		$char: "\E04B";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-agenda {
	@include icon(agenda);

}
.icon-alert {
	@include icon(alert);

}
.icon-analytics {
	@include icon(analytics);

}
.icon-arrow {
	@include icon(arrow);

}
.icon-bar-chart {
	@include icon(bar-chart);

}
.icon-bell {
	@include icon(bell);

}
.icon-calculator {
	@include icon(calculator);

}
.icon-calendar {
	@include icon(calendar);

}
.icon-cancel {
	@include icon(cancel);

}
.icon-chart {
	@include icon(chart);

}
.icon-check {
	@include icon(check);

}
.icon-checklist {
	@include icon(checklist);

}
.icon-chip {
	@include icon(chip);

}
.icon-clock {
	@include icon(clock);

}
.icon-close {
	@include icon(close);

}
.icon-comment {
	@include icon(comment);

}
.icon-controls {
	@include icon(controls);

}
.icon-copy {
	@include icon(copy);

}
.icon-corner {
	@include icon(corner);

}
.icon-cvs {
	@include icon(cvs);

}
.icon-deadline {
	@include icon(deadline);

}
.icon-desktop {
	@include icon(desktop);

}
.icon-diagram {
	@include icon(diagram);

}
.icon-duplicate {
	@include icon(duplicate);

}
.icon-edit {
	@include icon(edit);

}
.icon-email {
	@include icon(email);

}
.icon-envelope {
	@include icon(envelope);

}
.icon-envelope1 {
	@include icon(envelope1);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-favorites {
	@include icon(favorites);

}
.icon-file-2 {
	@include icon(file-2);

}
.icon-file {
	@include icon(file);

}
.icon-filter {
	@include icon(filter);

}
.icon-garbage {
	@include icon(garbage);

}
.icon-google-plus {
	@include icon(google-plus);

}
.icon-graphene {
	@include icon(graphene);

}
.icon-hand {
	@include icon(hand);

}
.icon-heart-fill {
	@include icon(heart-fill);

}
.icon-heart {
	@include icon(heart);

}
.icon-id-card {
	@include icon(id-card);

}
.icon-idea {
	@include icon(idea);

}
.icon-information {
	@include icon(information);

}
.icon-innovation {
	@include icon(innovation);

}
.icon-internet {
	@include icon(internet);

}
.icon-key {
	@include icon(key);

}
.icon-layers {
	@include icon(layers);

}
.icon-line-chart {
	@include icon(line-chart);

}
.icon-link {
	@include icon(link);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-maze {
	@include icon(maze);

}
.icon-money {
	@include icon(money);

}
.icon-more {
	@include icon(more);

}
.icon-photo-camera {
	@include icon(photo-camera);

}
.icon-photos {
	@include icon(photos);

}
.icon-plus {
	@include icon(plus);

}
.icon-puzzle {
	@include icon(puzzle);

}
.icon-safebox {
	@include icon(safebox);

}
.icon-search {
	@include icon(search);

}
.icon-settings {
	@include icon(settings);

}
.icon-share {
	@include icon(share);

}
.icon-shield {
	@include icon(shield);

}
.icon-signin {
	@include icon(signin);

}
.icon-smartphone {
	@include icon(smartphone);

}
.icon-star-fill {
	@include icon(star-fill);

}
.icon-star {
	@include icon(star);

}
.icon-stop {
	@include icon(stop);

}
.icon-stopwatch {
	@include icon(stopwatch);

}
.icon-success {
	@include icon(success);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-upload {
	@include icon(upload);

}
.icon-user-profile {
	@include icon(user-profile);

}
.icon-user {
	@include icon(user);

}
.icon-users {
	@include icon(users);

}
.icon-wallet {
	@include icon(wallet);

}
.icon-workflow {
	@include icon(workflow);

}