@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == analytics {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == bar-chart {
		$char: "\E003";
	}
	@if $filename == calculator {
		$char: "\E004";
	}
	@if $filename == calendar {
		$char: "\E005";
	}
	@if $filename == chart {
		$char: "\E006";
	}
	@if $filename == check {
		$char: "\E007";
	}
	@if $filename == checklist {
		$char: "\E008";
	}
	@if $filename == chip {
		$char: "\E009";
	}
	@if $filename == clock {
		$char: "\E00A";
	}
	@if $filename == close {
		$char: "\E00B";
	}
	@if $filename == controls {
		$char: "\E00C";
	}
	@if $filename == corner {
		$char: "\E00D";
	}
	@if $filename == deadline {
		$char: "\E00E";
	}
	@if $filename == diagram {
		$char: "\E00F";
	}
	@if $filename == edit {
		$char: "\E010";
	}
	@if $filename == email {
		$char: "\E011";
	}
	@if $filename == facebook {
		$char: "\E012";
	}
	@if $filename == favorites {
		$char: "\E013";
	}
	@if $filename == file-2 {
		$char: "\E014";
	}
	@if $filename == file {
		$char: "\E015";
	}
	@if $filename == google-plus {
		$char: "\E016";
	}
	@if $filename == graphene {
		$char: "\E017";
	}
	@if $filename == hand {
		$char: "\E018";
	}
	@if $filename == id-card {
		$char: "\E019";
	}
	@if $filename == idea {
		$char: "\E01A";
	}
	@if $filename == information {
		$char: "\E01B";
	}
	@if $filename == innovation {
		$char: "\E01C";
	}
	@if $filename == layers {
		$char: "\E01D";
	}
	@if $filename == line-chart {
		$char: "\E01E";
	}
	@if $filename == linkedin {
		$char: "\E01F";
	}
	@if $filename == maze {
		$char: "\E020";
	}
	@if $filename == money {
		$char: "\E021";
	}
	@if $filename == photos {
		$char: "\E022";
	}
	@if $filename == plus {
		$char: "\E023";
	}
	@if $filename == puzzle {
		$char: "\E024";
	}
	@if $filename == safebox {
		$char: "\E025";
	}
	@if $filename == search {
		$char: "\E026";
	}
	@if $filename == settings {
		$char: "\E027";
	}
	@if $filename == shield {
		$char: "\E028";
	}
	@if $filename == signin {
		$char: "\E029";
	}
	@if $filename == star {
		$char: "\E02A";
	}
	@if $filename == stop {
		$char: "\E02B";
	}
	@if $filename == stopwatch {
		$char: "\E02C";
	}
	@if $filename == success {
		$char: "\E02D";
	}
	@if $filename == twitter {
		$char: "\E02E";
	}
	@if $filename == users {
		$char: "\E02F";
	}
	@if $filename == workflow {
		$char: "\E030";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-analytics {
	@include icon(analytics);

}
.icon-arrow {
	@include icon(arrow);

}
.icon-bar-chart {
	@include icon(bar-chart);

}
.icon-calculator {
	@include icon(calculator);

}
.icon-calendar {
	@include icon(calendar);

}
.icon-chart {
	@include icon(chart);

}
.icon-check {
	@include icon(check);

}
.icon-checklist {
	@include icon(checklist);

}
.icon-chip {
	@include icon(chip);

}
.icon-clock {
	@include icon(clock);

}
.icon-close {
	@include icon(close);

}
.icon-controls {
	@include icon(controls);

}
.icon-corner {
	@include icon(corner);

}
.icon-deadline {
	@include icon(deadline);

}
.icon-diagram {
	@include icon(diagram);

}
.icon-edit {
	@include icon(edit);

}
.icon-email {
	@include icon(email);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-favorites {
	@include icon(favorites);

}
.icon-file-2 {
	@include icon(file-2);

}
.icon-file {
	@include icon(file);

}
.icon-google-plus {
	@include icon(google-plus);

}
.icon-graphene {
	@include icon(graphene);

}
.icon-hand {
	@include icon(hand);

}
.icon-id-card {
	@include icon(id-card);

}
.icon-idea {
	@include icon(idea);

}
.icon-information {
	@include icon(information);

}
.icon-innovation {
	@include icon(innovation);

}
.icon-layers {
	@include icon(layers);

}
.icon-line-chart {
	@include icon(line-chart);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-maze {
	@include icon(maze);

}
.icon-money {
	@include icon(money);

}
.icon-photos {
	@include icon(photos);

}
.icon-plus {
	@include icon(plus);

}
.icon-puzzle {
	@include icon(puzzle);

}
.icon-safebox {
	@include icon(safebox);

}
.icon-search {
	@include icon(search);

}
.icon-settings {
	@include icon(settings);

}
.icon-shield {
	@include icon(shield);

}
.icon-signin {
	@include icon(signin);

}
.icon-star {
	@include icon(star);

}
.icon-stop {
	@include icon(stop);

}
.icon-stopwatch {
	@include icon(stopwatch);

}
.icon-success {
	@include icon(success);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-users {
	@include icon(users);

}
.icon-workflow {
	@include icon(workflow);

}